<div class='search-health-topics'>
  <div class='contain'>
    <h2>Compare hospitals by health topics</h2>
    <div>
      <img src='themes/consumer/assets/infographic/topics/patient-safety.png' alt='Shield Check' />
      <img src='themes/consumer/assets/infographic/topics/infections.png' alt='Molecule' />
      <button data-ui-sref="top.consumer.hospitals.health-topics">Browse Health Topics</button>
      <img src='themes/consumer/assets/infographic/topics/patient-survey.png'alt='Health sheet' />
      <img src='themes/consumer/assets/infographic/topics/emergency-dept.png' alt='Ambulance' />
    </div>
  </div>
</div>