<h2 class="resource__content-title">Why should I look at health care quality information?</h2>

<p>Don't people get good care from every medical facility? Here are the facts:</p>

<ul>
  <li><strong>Not all facilities offer the same quality of care.</strong> Some are better than others.</li>
  <li><strong>Even good facilities may not be good at everything.</strong> A hospital or nursing home might do a good job caring for people with some health problems but a poorer job caring for people with other health problems. <strong>Hospital and nursing home stays can be risky.</strong> Whenever you go to the hospital for an existing health problem, or spend time in a nursing home, you risk getting a new health problem. Hospitals and nursing homes vary in how well they protect patients from this risk.

    <ul>
      <li>To learn more, visit <a href="http://www.ahrq.gov/patients-consumers/care-planning/errors/5steps/index.html" target="_blank">Five Steps to Safer Health Care</a></li>
      <li>Learn tips for staying safe in the hospital: <a href="http://healthcare411.ahrq.gov/radiocastseg.aspx?id=859&type=seg" target="_blank">Listen to the Hospital Stays: Reducing Your Risks podcast</a></li>
    </ul>
  </li>
  <li><strong>Good quality health care means more than what your physician does.</strong> Your own doctor may be highly skilled. But health care quality in hospitals and nursing homes also depends on many other staff, such as nurses and physical therapists, and also on how well the facility is managed.</li>
</ul>

<p>You want to get the very best quality possible when you or a loved one needs care. This means making good decisions about your health care and where you can go to get it.</p>
