<h2 class="resource__content-title">Avoiding safety problems when you have surgery</h2>

<div class="about-methodology">
	<p>Many health conditions are treated using surgery. About 3 out of 10 hospital stays involve a surgery.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite001">1</a></sup> Patients undergoing surgery face the risk that something may go wrong, and that they will be harmed. This Guide describes surgical safety problems in hospitals, what they are, and how often they happen. Most importantly, it tells you what you can do to avoid safety problems for you or a loved one.</p>
	<aside>
		<h4>Surgical Wounds Splitting Open</h4>
		<p>
			Between 2010 and 2012, in the best performing hospital in the US, this serious problem happened to fewer than 1 patient in a 1,000. In the worst performing hospital nearly 3 patients in a 1,000 had a surgical wound split open.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite002">5</a></sup>
		</p>
		<h4>Deaths from Treatable Complications</h4>
		<p>Between 2010 and 2012, at the best US hospital, about 5 patients out of 100 who had a serious but treatable complication after surgery died, while in the worst hospital, more than 15 patients out of 100 died when they had treatable complications. So the best hospital does about three times better than the worst hospital at preventing deaths from treatable complications.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite003">5</a></sup></p>
	</aside>

	<h2>What is surgical safety? How common are surgical safety problems?</h2>
	<p><strong>Surgical safety problems are mistakes or complications that happen as a result of what hospital staff (e.g., doctors, nurses, technicians) do and do not do before, during and after surgery.</strong></p>
	<p>About 83 out of 1,000 surgeries (or more than 8% of surgeries) result in a medical problem or complication.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite004">2</a></sup> Most people survive these problems, but they still happen. For instance:</p>
	<ul>
		<li>In 2011, 157,500 people got an infection at the surgical site (incision) where they had surgery.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite005">3</a></sup></li>
		<li>Each year, more than 4,000 people have a surgery on the wrong part of their body, for example, on the left knee rather than the right knee.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite004">4</a></sup></li>
	</ul>

	<p>Many safety problems don’t have to happen. Hospitals work hard to reduce safety problems as part of their work to improve quality and the health of their patients. Many have made progress, but others have not done as well. You can use {{config.website_BrowserTitle}} to learn how well local hospitals prevent patient safety problems. These quality reports will show you that some hospitals have very low rates of patient safety problems, while others have higher rates.</p>

	<h2>What is the impact of surgical safety problems?</h2>
	<p>A lot of problems can occur when surgeries go wrong. Surgical safety problems can harm the patient’s quality of life and drive up health care costs. For example:</p>
	<ul>
		<li>Patients have to stay in the hospital longer and their recovery takes more time.</li>
		<li>Patients cannot get back to work, school or taking care of home and family as quickly.</li>
		<li>Surgical errors cost money. Studies estimate that in 2008 the US spent $1.5 billion on extra health care services that were needed because of surgical mistakes.<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite006">6</a></sup></li>
	</ul>

	<h2>How can I get information on surgical safety in {{config.website_GeographicDescription}} hospitals?</h2>
	<p>The {{config.website_BrowserTitle}} website has information about the quality of care in local hospitals. This website includes information on patient safety, including how often surgical safety problems occur. Nearly all of these problems are avoidable if the hospital takes the safest approach. For example, this website will show how often patients who have had surgery:</p>
	<ul>
		<li data-ng-if="hasMeasure('PSI 12')">Get blood clots that can travel through the body and lead to death</li>
		<li data-ng-if="hasMeasure('PSI 13')">Get a dangerous infection in their blood</li>
		<li data-ng-if="hasMeasure('PSI 11')">Need to be put on a ventilator to keep them breathing</li>
	</ul>

	<p>This website may also provide information on how often hospitals use approaches known to prevent surgical safety problems, including how often hospital staff:</p>
	<ul>
		<li data-ng-if="hasMeasure('SCIP-Inf-1a')">Gave people antibiotics, which prevent infections, before surgery</li>
		<li data-ng-if="hasMeasure('SCIP-Inf-3a')">Stopped giving each patient antibiotics shortly after surgery</li>
		<li data-ng-if="hasMeasure('SCIP-VTE-2')">Gave patients treatments to prevent blood clots after surgery</li>
	</ul>

	<h2>What can I do to stay safe in the hospital when I have surgery?</h2>
	<p>Patients and family members can take steps to avoid surgical safety problems. <strong>The first step is to use the information on local hospitals to find the hospitals that have the lowest rates of surgical safety problems.</strong> If possible, choose to have your surgery at one of those better rated hospitals. Even if you don’t have a choice of hospital, <strong>talk with your doctor about surgical safety and ask your doctor to work with the hospital staff to prevent safety problems</strong>. Here are some steps you can take whenever you, or a loved one, has surgery.</p>
	<ul>
		<li>If the surgery is on a particular body part, like your right knee, make sure that body part is clearly marked.</li>
		<li>Make sure you get antibiotics shortly before surgery.</li>
		<li>Unless you have an ongoing infection, make sure you stop getting antibiotics a few hours after surgery.
			Make sure that after surgery, nurses take steps to prevent blood clots, such as giving you “compression socks” and getting you out of bed and moving as soon as possible.</li>
		<li>Especially for a serious surgery, have close family or friends visit every day to see how you are doing, ask the hospital staff questions, and give you comfort and support. They can help make sure the right things are being done for you, when you may not be feeling too well.</li>
		<li>If you think something is going wrong, and the hospital staff is not responding, ask for help from a “patient advocate.” Every hospital is required to have them.</li>
	</ul>
	<h2>What can hospitals do to reduce surgical safety problems?</h2>
	<p>Almost all surgical safety problems can be prevented if hospitals take actions that are proven to work. A hospital that is committed to providing high-quality care and keeping patients safe will:</p>
	<ul>
		<li>Ensure that every surgeon uses the World Health Organization’s (WHO) Surgical Safety Checklist<sup><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="cite006">7</a></sup> or another validated surgical checklist in the operating room to make sure all the right equipment is there and all staff understand what they must do.</li>
		<li>Train all hospital staff to make sure they understand and monitor their use safe practices all the time.</li>
		<li>Recognize and reward staff and hospital units that improve the safety of patients.</li>

	</ul>
	<p>Surgical safety is a serious issue, but problems can be avoided if hospital leaders, doctors, hospital staff and patients like you each do their part.</p>
	<div class="footer--references">
		<h2>References</h2>
		<ol>
			<li id="cite001">
				Avalere Health analysis of American Hospital Association Annual Survey data, 2012, for community hospitals. US Census Bureau: National and State Population Estimates, July 1, 2012. Accessed January 20, 2014 by <a href="http://www.census.gov/popest/data/state/totals/2012/index.html">http://www.census.gov/popest/data/state/totals/2012/index.html</a>
			</li>
			<li id="cite002">
				Zeeshan, MF, Dembe, AE, Seiber, EE, et al. Incidence of adverse events in an integrated US healthcare system: a retrospective observational study of 82,784 surgical hospitalizations. Patient Safety in Surgery 2014, 8(23).
			</li>
			<li id="cite003">
				Centers for Disease Control and Prevention. Healthcare-associated Infections (HAIs). Accessed on January 20, 2015 by <a href="http://www.cdc.gov/HAI/surveillance/index.html">http://www.cdc.gov/HAI/surveillance/index.html</a>
			</li>
			<li id="cite004">Mehtsun, WT, Ibrahim, AM, Diener-West, M, et al. Surgical never events in the United States. Surgery 2013, 153(4), 465-472.</li>
			<li id="cite005">
				The LeapFrog Group. Hospital Safety Score. Accessed on January 20, 2015 by <a href="http://www.hospitalsafetyscore.org/">http://www.hospitalsafetyscore.org/</a>
			</li>
			<li id="cite006">Encinosa, WE &amp; Hellinger, FJ. The impact of medical errors on ninety-day costs and outcomes: an examination of surgical patients. Health Serv Res. 2008; 43(6): 2067–2085.</li>
			<li id="cite007">
				World Health Organization. WHO surgical safety checklist and implementation manual. Access on January 20, 2015 by <a href="http://www.who.int/patientsafety/safesurgery/ss_checklist/en/">http://www.who.int/patientsafety/safesurgery/ss_checklist/en/</a>
			</li>
		</ol>
	</div><!-- /.footer -->
</div><!-- /.about-methodology -->
