<h2 class="resource__content-title">Nursing Home Quality</h2>

<p>Nursing homes serve different needs, and it’s important to look at how nursing homes in your area perform in the services that matter to you. Nursing home care usually is divided into short-term and long-term stays. </p>

<p>Short-term stay: Some people stay in a nursing home just long enough to get better after a serious illness or injury, typically after they have been in a hospital or rehabilitation center. They might work with therapists to regain strength and independence before going home. Short-term stays usually are less than 100 days long.  These residents are expected to get better and go home.</p>

<p>Long-term stay:  Nursing homes provide housing, meals, help with daily tasks such as dressing or bathing, and access to nursing and other care around the clock. People in long-term care often have different levels of need for care. For example, they may have different needs in terms of moving around.  Some walk on their own; others only with a cane or walker; some must use a wheelchair.  They generally stay longer than 100 days, and indeed most long-stay residents remain in a nursing home for the rest of their lives.</p>

<p>Some nursing homes focus on short-term or long-term care, and some excel at both. Since the needs of short-term and long-term residents are quite different, there are some quality ratings just for one category or another.   You can find ratings that help you make choices about which nursing homes are the best at the type of care you are looking for.</p>

<p>For more information about nursing homes, visit the Centers for Medicare &amp; Medicaid Services web site, <a href="http://www.medicare.gov/NursingHomeCompare/About/Nursing-Home-Info.html" target="_blank">Nursing Home Compare</a>.</p>

<div data-mh-accordion>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r1'" data-mh-accordion-label="'What do I do if I have concerns about nursing home quality?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r1'" class="resource__toggle-content">
            <p>Each state has a State Survey Agency that regulates all nursing homes in the state. Anyone who is concerned about the care of a nursing home resident may file a complaint. For information about how to contact your state’s agency, <a href="http://www.medicare.gov/NursingHomeCompare/Resources/State-Websites.html" target="_blank">visit Nursing Home Compare</a>.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r2'" data-mh-accordion-label="'What are the nursing home quality ratings?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r2'" class="resource__toggle-content">
            <p>Quality ratings are based on information from two sources:  (1) health and safety inspections conducted by a state agency at least once a year in each nursing home; and (2) regular assessments nursing homes conduct that cover residents’ health, physical functioning, mental status and general well-being. The monthly assessment information must be reported to the federal government by the nursing homes, along with information about how many staff they have working.  For more information, <a href="http://www.medicare.gov/nursinghomecompare/Data/Data-Sources.html" target="_blank">visit Nursing Home Compare</a>, a website run by the Centers for Medicare &amp; Medicaid Services (CMS) that collects and reports nursing home quality information.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r3'" data-mh-accordion-label="'How do I select nursing homes to compare?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r3'" class="resource__toggle-content">
            <p>You can select nursing homes by address, city or zip code, and within a certain distance. For example, you might choose to search for facilities within 10 miles of your town.</p>
            <p>You can then sort the list by:</p>
            <ul>
                <li>Name</li>
                <li>Overall rating</li>
                <li>Quality</li>
                <li>Staff available</li>
                <li>Health inspection results</li>
                <li>Rating of care by residents’ families</li>
       
                 </ul>
            <p>You can sort the results from lowest to highest, or highest to lowest.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r4'" data-mh-accordion-label="'Where do the ratings come from?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r4'" class="resource__toggle-content">
            <p>MONAHRQ itself does not calculate quality scores. Some nursing home information on MONAHRQ comes from the federal Centers for Medicare & Medicaid Services (CMS) Nursing Home Compare ratings. The ratings are calculated by CMS using information that individual nursing homes provide to them.  For more information on the methods used by Nursing Home Compare, <a href="http://www.medicare.gov/NursingHomeCompare/About/HowWeCalculate.html" target="_blank">visit Nursing Home Compare</a>.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r5'" data-mh-accordion-label="'How are the quality ratings assigned?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r5'" class="resource__toggle-content">
            <p>Nursing Home Compare assigns 5-star ratings based on three types of information: health and safety inspections, quality ratings, and overall staff available. More stars means better quality. The overall star rating for an individual nursing home begins with a nursing home’s health inspection rating. Stars are then added or subtracted based on ratings of quality and overall staff available. For more information, visit Nursing Home Compare. <a href="http://www.medicare.gov/NursingHomeCompare/About/HowWeCalculate.html" target="_blank">Nursing Home Compare</a>.</p>
            <ul>
                <li>Health and safety inspection ratings: These ratings are assigned by outside surveyors who visit each nursing home and look at all aspects of their operation. Nursing homes in different states may have different standards, so it’s best to compare nursing homes within one state.</li>
                <li>Quality rating: These rate how well nursing homes help residents keep their ability to dress, eat and other tasks, and how well the nursing home prevents health problems that could be avoided. This information is reported by each nursing home and compared on a national level.</li>
                <li>Overall Staff Available: This rating compares the number of staff to the number of residents. Ratings cover nurses with different levels of training, as well as physical therapists. This information is reported by the nursing home based on actual availability of staff during a two-week period each year.</li>
            </ul>
            <p>
                <h4>Other Information Sources</h4>
                <ul>
                    <li>Nursing Home Family Survey Results: In addition to information from Nursing Home Compare, this website adds another kind of information: patient experience. Some nursing homes offer their residents a better experience than others. These ratings are the results of the Nursing Home CAHPS - Family Member Survey. The survey is filled out by adult family members of nursing home residents who have stayed in the nursing home for longer than 100 days. The survey asks the family members about their experiences with care and services at the nursing home.</li>
                </ul>
            </p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r6'" data-mh-accordion-label="'How are Nursing Homes state or regional ratings calculated?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r6'" class="resource__toggle-content">
            <h4>Nursing Home Compare</h4>
            <p>The national-level nursing home comparison 5 star ratings in MONAHRQ use ratings from CMS’s Nursing Home Compare database. However, the state or regional level ratings are computed in MONAHRQ. For state or regional-level comparison, the nursing homes are compared against others in the state or county in which they are located using the absolute percentile method. The absolute percentile method creates a number of different means of comparison among nursing homes, along with comparisons to a peer group and state average.</p>
            <p>One way of thinking of this is like a score on a test, where you can get from 0 to 100:</p>
            <ul>
                <li>Nursing homes with a score from 91 to 100 (the top 10 percent), get five stars</li>
                <li>Nursing homes with a score from 64 to 90 get four stars</li>
                <li>Nursing homes with a score from 37 to 63 get three stars</li>
                <li>Nursing homes with a score from 11 to 36 get two stars</li>
                <li>Nursing homes with a score from 1 to 10 get one star</li>
            </ul>
            <p>All three rating sections -- Quality, Health Inspection, and Overall Staff Available – are scored this way.</p>
            <h4>Nursing Home CAHPS</h4>
            <p>Each of the composite measure ratings is creating by scoring the responses to each question, or assigning a numeric value to each response. For example, in a yes/no question, a “no” can be given a value of 0 and yes a value of 1. The values of the responses to each individual question are totaled to create the value for the composite measure.</p>
            <p>The value of each composite measure is graded like on a test, where the result can be from 0 to 100. A star rating for the composite measure is assigned based on the final result:</p>
            <ul>
                <li>5 stars is a value of 91 to 100, or the top 10% of all results</li>
                <li>4 stars is a value from 64 to 90</li>
                <li>3 stars is a value from 37 to 63</li>
                <li>2 stars is a value from 11 to 36</li>
                <li>1 star is assigned to scores 10 and below, or the bottom 10% of all results</li>
            </ul>
            <p>If there are fewer than 20 responses to questions that can be used for a composite measure, the result is not calculated.</p>
            <p>There are five composite measures that are combined to get an overall rating for the survey. They are added together and then divided by the number of composite measures to get an overall score from 0 to 100, which is then assigned an overall star rating. The ratings are assigned in the same way as the composite measures.</p>
            <p>If one of the composite measures has fewer than 20 responses and could not be calculated, the overall rating is made up of the remaining composite measures and then divided by the number that were used.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r7'" data-mh-accordion-label="'How do I interpret the nursing home quality ratings tables?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r7'" class="resource__toggle-content">
            <p>The ratings tables show quality ratings for nursing homes. You can use this information to help you choose a nursing home. The best way to search for patterns is in the ratings. Some nursing homes do well in all areas. Others do well in some areas but not others. Still others show problems everywhere. Some do well with short-stay patients, others are best for long-stay patients, and some are good choices for either type of patient. Look for these patterns. At the same time, if there is an aspect of nursing home care or a health or safety risk that is of particular concern to you, you should give more weight to information related to those concerns.</p>
            <p>You can switch your comparison view to compare nursing home at the national, state/peer, and county level.</p>
            <p>You can also compare up to 5 nursing homes. The ratings tables are divided into sections that show ratings by three domains: Health Inspection, Quality, and Overall Staff Available. A nursing home is rated by comparing it to other nursing homes and to national or state/peer or county.</p>
            <p>More details on individual ratings within each domain can be found in nursing home profile report.</p>

            <h4>Overall Rating</h4>
            <p>This is the weighted total of selected scores on health inspections, quality ratings, and overall staff available ratings, compared against other nursing homes at the national level.</p>

            <h4>Overall Inspection Results</h4>
            <p>This information is based on the results of each nursing home’s three most recent health inspection surveys. Surveys happen annually, except when there is a serious complaint, in which case there can be an inspection at any time during the year.  Scores are based on the number, scope, and severity of standards that are not met and the number of revisits needed to confirm compliance.  Stars are assigned based on performance within a State - for instance, only the top 10% of performers in a State receive a five star rating.  See “How Peer Ratings are Calculated” above.</p>

            <ul>
                <li>
                    <p><em>Health Survey Date: Date of most recent health inspection</em></p>
                    <p>This is the date of the most recent standard health inspection conducted at this nursing home. These inspections take place about once a year but may be done more often if a nursing home is performing poorly.</p>
                </li>
                <li>
                    <p><em>Fire Safety Survey Date: Date of most recent fire safety inspection</em></p>
                    <p>This is the date of the most recent fire safety inspection conducted at this nursing home.</p>
                </li>
                <li>
                    <p><em>Total Number of Health Deficiencies: How many health-related standards nursing home failed to meet</em></p>
                    <p>This number takes into account minimum standards designed to protect residents, such as those related to care of residents, interactions between residents and staff, management of medication, storage and preparation of food, and the nursing home environment.</p>
                </li>
                <li>
                    <p><em>Total Number of Fire Safety Deficiencies: How many fire safety standards nursing home failed to meet</em></p>
                    <p>This number takes into account a wide range of fire protection standards set by the National Fire Protection Agency.</p>
                </li>
            </ul>

            <h4>Overall Quality Rating</h4>
            <p>This is an overall score based on the following individual scores:</p>

            <h5>Short Stay Ratings (for patients who stay up to 100 days)</h5>
            <ul>
                <li>
                    <p><em>Pain: How many residents, out of a hundred, with a short nursing home stay, reported moderate to severe pain?</em></p>
                    <p>The percent of short-stay residents (at the nursing home for 100 days or less) who self-reported at least one episode of moderate/severe pain or horrible/excruciating pain of any frequency in the last 5 days before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Pressure Ulcers: How many residents, out of a hundred, with a short nursing home stay had new or worsening pressure ulcers?</em></p>
                    <p>The percent of short-stay residents (at the nursing home for 100 days or less) who have one or more new or worsening pressure sores.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Flu Vaccine: How many residents, out of a hundred, with a short nursing home stay, got a flu vaccine during the most recent flu season.</em></p>
                    <p>The percent of short-stay residents (staying at the nursing home for 100 days or less) who were assessed and appropriately given the flu vaccine during the current or most recent flu season as of reporting.</p>
                    <p>* Higher scores are better.</p>
                </li>
                <li>
                    <p><em>Pneumonia Vaccine: How many residents, out of a hundred, with a short nursing home stay, got a pneumonia vaccine if needed.</em></p>
                    <p>The percent of short-stay residents (staying at the nursing home for 100 days or less) who were assessed and appropriately given a pneumonia vaccine during their stay.</p>
                    <p>* Higher scores are better.</p>
                </li>
                <li>
                    <p><em>New Mental Illness Medication: How many residents, out of a hundred, with a short nursing home stay, got medicine for a mental illness for the first time.</em></p>
                    <p>The percent of short-stay residents (staying at the nursing home for 100 days or less) who received antipsychotic medication during their stay but were not receiving it at their initial assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
            </ul>

            <h5>Long Stay Ratings (for patients who stay 101 days or more)</h5>
            <ul>
                <li>
                    <p><em>Falls with Injury: How many residents, out of a hundred, with a long nursing home stay, had a fall leading to a major injury?</em></p>
                    <p>The number of long-term residents who had one or more falls with a major injury (such as a bone fracture, dislocated joint, or closed head injury) in a 12-month period.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Pain: How many residents, out of a hundred, with a long nursing home stay, reported moderate to severe pain?</em></p>
                    <p>The percent of short-stay residents who self-reported at least one episode of moderate/severe pain or horrible/excruciating pain of any frequency in the last 5 days before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Pressure Ulcers: How many residents, out of a hundred, with a long nursing home stay, had new or worsening pressure ulcers?</em></p>
                    <p>The percent of long-stay residents with limited mobility who have one or more new or worsening pressure sores.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Flu Vaccine: How many residents, out of a hundred, with a long nursing home stay, got a flu vaccine during the flu season.</em></p>
                    <p>The percent of long-stay residents who were assessed and appropriately given the flu vaccine during the current or most recent flu season as of reporting.</p>
                    <p>* Higher scores are better.</p>
                </li>
                <li>
                    <p><em>Pneumonia Vaccine: How many residents, out of a hundred, with a long nursing home stay, got a pneumonia vaccine if needed.</em></p>
                    <p>The percent of long-stay residents who were assessed and appropriately vaccinated against the bacteria that causes pneumonia.</p>
                    <p>* Higher scores are better.</p>
                </li>
                <li>
                    <p><em>Urinary Tract Infection: How many residents, out of a hundred with a long nursing home stay, get a urinary tract infection.</em></p>
                    <p>The percent of long-stay residents who had a urinary tract infection in the last 30 days before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Losing Control of Bowel or Bladder: How many residents, out of a hundred with a long nursing home stay, lose control of bladder or bowels.</em></p>
                    <p>The percent of long-stay low-risk residents who often or always lose control of their bowels or bladder. Low-risk patients are those who do not have severe cognitive impairment and have at least some mobility.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Urine Tube Left in Bladder: How many residents, out of a hundred with a long nursing home stay, had catheter inserted and left in their bladder.</em></p>
                    <p>The percent of long-stay residents who had an indwelling catheter in the last 7 days before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Physical Restraints: How many residents, out of a hundred with a long nursing home stay, were physically restrained.</em></p>
                    <p>The percent of long-stay residents who were physically restrained on a daily basis.<br />* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>More help needed with daily tasks: How many residents, out of a hundred with a long nursing home stay, need more help doing daily tasks.</em></p>
                    <p>The percent of long-stay residents whose need for help with late-loss Activities of Daily Living (such as bed mobility, transfer, eating, and toileting) has increased when compared to the prior assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Weight Loss: How many residents, out of a hundred with a long nursing home stay, lost too much weight.</em></p>
                    <p>The percent of long-stay residents not on a prescribed weight-loss regimen who lost 5% or more in the last month or 10% or more in the last 6 months before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Depression: How many residents, out of a hundred with a long nursing home stay, began to be depressed.</em></p>
                    <p>This rating reports the percentage of long-stay residents who had symptoms of depression during the last 2 weeks before the target assessment.</p>
                    <p>* Lower scores are better.</p>
                </li>
                <li>
                    <p><em>Antipsychotic: How many residents, out of a hundred, with a long nursing home stay, got medicine for a mental illness.</em></p>
                    <p>The percent of long-stay residents who received antipsychotic medication.</p>
                    <p>* Lower scores are better.</p>
                    <p>* The time period in this rating falls immediately before the nursing home’s target assessment. The assessment is usually the most recent assessment in the episode of care, but must occur within 120 days of the end of the resident’s selected episode. The end is defined as either date of discharge or as the end of the target period if the resident’s episode of care is ongoing. Assessments for admission or readmission, or PPS 5-day assessment are excluded.</p>
                </li>
            </ul>

            <h5>Overall Staff Available Rating</h5>
            <p>This rate combines the availability of staff in all categories, including nursing aides, licensed practical or vocational nurses, registered nurses and physical therapists.</p>
            <ul>
                <li>
                    <p><em>Nursing Aide Hours: Hours of care from nursing aides that each resident can get each day</em></p>
                    <p>This was calculated in two steps. First, the number of hours worked by Certified Nurse Aides (CNAs) each day during a specific 2 week period was computed. Second, the number of hours worked was divided by the number of residents present during that two week period.</p>
                </li>
                <li>
                    <p><em>LPN/LVN Hours: Hours of care from licensed vocational or practical nurses (LVN, LPN) that each resident can get each day.</em></p>
                    <p>This was calculated in two steps: First, the number of hours worked by LPN/LVNs each day during a specific 2 week period was computed. Second, the number of hours worked was divided by the number of residents present during that two week period.</p>
                </li>
                <li>
                    <p><em>RN Hours: Hours of care from Registered Nurses that each resident can get each day.</em></p>
                    <p>This was calculated in two steps: First, the number of hours worked by RNs each day during a specific 2 week period was computed. Second, the number of hours worked was divided by the number of residents present during that two week period.</p>
                </li>
                <li>
                    <p><em>Total LPN, LVN and RN Hours: Hours of care from any licensed nurse (LVN, LPN, RN) that each resident can get each day.</em></p>
                    <p>This is the number of hours worked by licensed staff (RN and LPN/LVN) each day at the nursing home per resident. This is computed by adding the "Number of RN Hours Available Per Resident Per Day" and "Number of LPN/LVN Hours Available Per Resident Per Day."</p>
                </li>
                <li>
                    <p><em>Total Nursing Hours: Hours of care from any kind of nurse that each resident can get each day.</em></p>
                    <p>This is the total number of hours worked by all nursing staff (RN, LPN/LVN, and CNA) each day at the nursing home per resident. This is computed by adding the "Number of licensed staff (RN, LPN/ LVN) Hours Available per Resident per Day" and "Number of CNA Hours Available per Resident per Day"</p>
                </li>
                <li>
                    <p><em>Physical Therapist (PT) Hours: Hours of therapy from a physical therapist available to each resident each day.</em></p>
                    <p>This was calculated in two steps: First, the number of hours worked by PTs each day during a specific 2 week period was computed. Second, the number of hours worked was divided by the number of residents present during that two week period.</p>
                </li>
            </ul>

            <h3>Nursing Home Family Survey Results</h3>
            <p>Some nursing homes offer their residents a better experience than others. These ratings are the results of the Nursing Home CAHPS - Family Member Survey. The survey is filled out by adult family members of nursing home residents who have stayed in the nursing home for longer than 100 days. The survey asks the family members about their experiences with care and services at the nursing home. Questions are grouped into different topics:</p>
            <ul>
                <li>
                    <h4>Meeting basic needs without waiting too long</h4>
                    <p>Information about whether residents had to wait too long to receive help for their most basic needs, such as help with eating, drinking, and using the toilet. The rate shown is the percent of family members who answered "no" to the individual questions.</p>
                    <ul>
                        <li>
                            <p><em>Wait too long for help with eating</em></p>
                            <p>The survey asked family members if the nurses or aides made the resident wait too long to receive help with eating.</p>
                        </li>
                        <li>
                            <p><em>Wait too long for help with drinking</em></p>
                            <p>The survey asked family members if the nurses or aides made the resident wait too long to receive help with drinking.</p>
                        </li>
                        <li>
                            <p><em>Wait too long for help with toileting</em></p>
                            <p>The survey asked family members if the nurses or aides made the resident wait too long to receive help with using the toilet. </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Nurses and aides treat residents with respect and kindness</h4>
                    <p>Information about how often nurses and aides always treat residents with respect, courtesy, and kindness and how well nurses and aides always care for patients with behavioral problems. The rate shown is the percent of family members who answered "always" or "yes" to the individual questions.</p>
                    <ul>
                        <li>
                            <p><em>Nurses/Aides treat resident with courtesy and respect</em></p>
                            <p>The survey asked family members how often the nurses or aides always treated the resident with courtesy and respect.</p>
                        </li>
                        <li>
                            <p><em>Nurses/Aides treat resident with kindness</em></p>
                            <p>The survey asked family members how often the nurses or aides always treat the resident with kindness.</p>
                        </li>
                        <li>
                            <p><em>Nurses/Aides really cared about resident</em></p>
                            <p>The survey asked family members how often the nurses or aides always showed they really care about the resident.</p>
                        </li>
                        <li>
                            <p><em>Nurses/Aides appropriate with resident displaying behavioral problems</em></p>
                            <p>The survey asked family members how often the nurses or aides always appropriately cared for residents that displayed behavioral problems.</p>
                        </li>
                        <li>
                            <p><em>Nurses/Aides rude to resident</em></p>
                            <p>The survey asked family members how often the nurses or aides were rude to residents.</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h4>How well the nursing home communicates with family members</h4>
            <p>Information about how often family members of the nursing home resident receive timely information, have things clearly explained to them, and are involved in decisions about payments. The rate shown is the percent of family members who answered "always" or "yes" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Nurses/Aides give respondent timely information about resident</em></p>
                    <p>The survey asked family members how often the nurses and aides always gave information to them about the resident in a timely manner.</p>
                </li>
                <li>
                    <p><em>Nurses/Aides explain things to respondent</em></p>
                    <p>The survey asked family members how often the nurses and aides always explained things clearly to them.</p>
                </li>
                <li>
                    <p><em>Respondent involved in decisions about care</em></p>
                    <p>The survey asked family members how often they were always involved in making decisions about the resident's care.</p>
                </li>
                <li>
                    <p><em>Respondent given information about payments/expenses</em></p>
                    <p>The survey asked family members how often they were always given information about payments or expenses.</p>
                </li>
                <li>
                    <p><em>Nurses/Aides discourage respondents questions</em></p>
                    <p>The survey asked family members how often the nurses and aides discouraged them from asking questions.</p>
                </li>
                <li>
                    <p><em>Respondent stops self from complaining</em></p>
                    <p>The survey asked family members how often they had to stop themselves from complaining to nursing home staff because they were scared the nursing home staff would take it out on the resident.</p>
                </li>
            </ul>
            <h4>Nursing Home Staffing, Care of Belongings, and Cleanliness</h4>
            <p>Information about how often family members notice things about the nursing home, such as how well the rooms are kept clean, whether their family member's personal belongings have been damaged or lost, and whether there are enough nurses or aides to take care of all of the residents. The rate shown is the percent of family members who answered "always" or "never" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Can find a nurse or aide</em></p>
                    <p>The survey asked family members how often they could always find a nurse or aide.</p>
                </li>
                <li>
                    <p><em>Enough nurses/aides</em></p>
                    <p>The survey asked family members how often they always saw enough nurses and aides at the nursing home.</p>
                </li>
                <li>
                    <p><em>Room looks/smells clean</em></p>
                    <p>The survey asked family members how often they always saw the resident's room look or smell clean.</p>
                </li>
                <li>
                    <p><em>Resident looks/smells clean</em></p>
                    <p>The survey asked family members how often they always saw the resident look or smell clean.</p>
                </li>
                <li>
                    <p><em>Public areas look/smell clean</em></p>
                    <p>The survey asked family members how often they always saw the public areas of the nursing home look or smell clean.</p>
                </li>
                <li>
                    <p><em>Family member’s personal medical belongings lost</em></p>
                    <p>The survey asked family members how often they found the resident's personal medical belongings had been lost.</p>
                </li>
                <li>
                    <p><em>Family member’s clothes damaged or lost</em></p>
                    <p>The survey asked family members how often they found the resident's clothes had been damaged or lost.</p>
                </li>
            </ul>
            <h4>Rating of Care</h4>
            <p>Information about how family members rate the care at the nursing home overall. The rate shown is the percent of family members who rated the nursing home as a 9 or 10.</p>
            <ul>
                <li>
                    <p><em>How do family members rate the care at the nursing home overall?</em></p>
                    <p>The survey asked family members how they would rate the care at the nursing home overall. Family members rated the care at the nursing home on a scale from 0 to 10, where 0 is the worst care possible and 10 is the best care possible.</p>
                </li>
            </ul>
        </div>
    </section>
</div>
