<h2 class="resource__content-title">Where can I learn more about health care quality?</h2>

<p>If you are interested in learning more about quality care or how to choose a hospital, nursing home or doctor, here are some resources that can help.</p>

<h4>Agency for Healthcare Research &amp; Quality (AHRQ)</h4>
<p>
    <ul>
        <!--<li><a href="http://archive.ahrq.gov/consumer/qnt/qntquick.htm" target="_blank">Quick Checks for Quality: Choosing Quality Health Care</a> is an information sheet about how to find good quality health care.</li>-->
        <li><a href="http://www.ahrq.gov/consumer" target="_blank">Consumers &amp; Patients</a> provides more links to tools and information for people who want to take an active role in their health care. </li>
    </ul>
<p>To contact AHRQ by mail write to:</p>
<p>
    <address>
        Agency for Healthcare Research and Quality<br>
        OC – Office of Communications<br>
        5600 Fishers Lane, 6th Floor<br>
        Rockville, MD 20857<br>
    </address>
</p>
<p>To reach AHRQ by phone, call (301) 427-1364</p>

<h4>Hospital Compare - Centers for Medicare &amp; Medicaid Services</h4>
<p>
    <ul>
        <li><a href="http://www.hospitalcompare.hhs.gov/" target="_blank">Hospital Compare</a> is a website with quality information on almost all hospitals in the US.</li>
        <li>The Hospital Compare website’s <a href="http://www.medicare.gov/Publications/Pubs/pdf/10181.pdf" target="_blank">Hospital Checklist</a> helps you think through a range of issues to consider when choosing a hospital.</li>
    </ul>
</p>

<h4>Physician Compare</h4>
<p><a href="http://www.medicare.gov/physiciancompare/search.html" target="_blank">Physician Compare</a> can help you find a physician nearby. You can search by specialty, board certification, group practice, and which hospitals the physician works with, among other topics.</p>
<h4>Nursing Home Compare</h4>
<p>
    <a href="https://www.medicare.gov/nursinghomecompare/search.html" target="_blank">Nursing Home Compare</a> collects information about every nursing home in the country that provides care to people who receive Medicare or Medicaid benefits. The website also offers a detailed guide to choosing a nursing home<a href="https://www.medicare.gov/Pubs/pdf/02174.pdf" target="_blank"></a>.
    <!-- <h4>The Joint Commission</h4>
    <p>The Joint Commission’s <a href="http://www.qualitycheck.org/consumer/searchQCR.aspx" target="_blank">Quality Check</a> website tells you which hospitals meet this organization's patient safety and quality standards.</p>
    <p>To reach Joint Commission with a general question, call 630-792-5000.<br>
    To order Joint Commission publications, call 877-223-6866.</p>

    <h4>The Leapfrog Group</h4>
    <p>The <a href="www.leapfroggroup.org" target="_blank">Leapfrog Group</a> measures hospital performance against national standards for safety, quality and efficiency that are relevant to consumers and purchasers of health care. Hospital participation is voluntary; more than 1500 hospitals participated in The Leapfrog Hospital Survey in 2014, and more than 2500 have received a Hospital Safety Score.</p>

    <h4>Consumer Reports</h4>
    <p><a href="http://www.consumerreports.org/health/doctors-hospitals/hospital-ratings.htm" target="_blank">Consumer Reports</a> provides hospital ratings based on patient safety, patient experience, patient outcomes and other characteristics.</p> -->


    <div class="adobe-reader" style="margin-top:40px;">
        <a href="http://www.adobe.com/go/getreader" target="_blank"><img src="themes/base/assets/Get_Adobe_Acrobat_Reader_DC_web_button_158x39.fw.png"></a>
    </div>
