<h2 class="resource__content-title">Find a Doctor</h2>
<p>Information  from the <a href="http://www.medicare.gov/physiciancompare/search.html" target="_blank">Physician Compare website</a> is used to help you find a doctor nearby. You can search by the name, ZIP code, specialty, and medical group the doctor works with, among other topics.</p>
<p>On this website, the term doctor is used to talk about all the health care professionals that may take care of you, including your primary care doctor, nurse practitioner, physician assistant, or other type of health care provider.</p>
<p>On the doctor’s profile page, you can find information on:</p>
<ul>
    <li>Board certification: Doctors who are board-certified meet standards of expertise in their specialty. Board certification requires ongoing learning, testing, and use of best practices.</li>
    <li>Gender: Whether the doctor is male or female</li>
    <li>Education: Where the doctor went to medical school</li>
    <li>Residency: The hospital at which the doctor completed advanced training after medical school</li>
    <li>Medical Group affiliations: Medical groups can range from a single doctor to small groups with several doctors to very large organizations with hundreds of doctors. A medical group may include doctors in one or more specialties; the profile shows if a doctors is a member of a medical group, and the name of the medical group.</li>
    <li>Group affiliations: A group practice may include providers in one or more specialties; the profile shows if a clinician is a member of a group practice, and the name of the practice.</li>
    <li>Hospital affiliations: These are the hospitals to which the doctor can admit patients. Patients may wish to see whether a doctor works with their local hospital or with a hospital that offers high-quality care for their condition</li>
    <li>Medicare assignment: Whether the doctor accepts the Medicare “allowable charge” as payment in full for Medicare patients, so they don’t have to pay the difference out of their pocket.</li>
    <li>Quality programs: The Centers for Medicare &amp; Medicaid Services have several programs that encourage doctors and other healthcare providers to use electronic health records, record and report on the quality of the care they provide, and transmit prescriptions electronically to reduce errors.</li>
    <li>You also can find out whether a doctor or medical group takes part in government programs to improve health care quality, such as the Physician Quality Reporting System and Electronic Health Record Incentive Program.</li>
</ul>
<p>You can also learn more about the doctor’s medical group by reviewing their quality ratings. The quality ratings are based on (1) information from medical groups about how well they provide care and (2) patient feedback from a survey about their experience with the medical group.</p>
<p>Learn more about getting involved with your health care: <a href="http://www.ahrq.gov/patients-consumers/patient-involvement/ask-your-doctor/tips-and-tools/qataposter.html" target="_blank">Visit Do You Know the Right Questions to Ask?</a></p>

<div data-mh-accordion>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r1'" data-mh-accordion-label="'How do I interpret the medical group quality ratings?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r1'" class="resource__toggle-content">
            <p>The ratings shown are for the entire medical group, combining results for each provider. Medical groups can range from small groups with several doctors to very large organizations with hundreds of doctors. Some medical groups offer their patients a better experience than others. </p>
            <p>It is best to search for patterns in the ratings. At the same time, if there is an aspect of care that is of particular concern to you, you should give more weight to information related to that concern.</p>
            <p>You can switch your view to see ratings at the national or state/peer level. Or, if the doctor is affiliated with more than one medical group, you can switch your view to see ratings from another medical group.</p>
            <h3>Medical Group Rates of Medical Care for Diabetes, Asthma, High Blood Pressure, and COPD</h3>
            <p>The Healthcare Effectiveness Data and Information Set (HEDIS) report the percentage of patients receiving the appropriate care from their medical practice for health issues such as diabetes, asthma, and high blood pressure.</p>
            <h4>How many diabetes patients (out of a hundred) had their blood sugar tested</h4>
            <p>The percent of patients, ages 18-75, with diabetes (type 1 and type 2) who got their blood sugar tested within the past year.</p>
            <h4>How many diabetes patients (out of a hundred) had their blood sugar under control</h4>
            <p>The percent of patients, ages 18-75, with diabetes (type 1 and type 2) who had their blood sugar under control. Patients with diabetes should have a blood sugar level less than 8 percent (<8%).</p>
            <h4>How many diabetes patients (out of a hundred) had their blood pressure under control </h4>
            <p>The percent of patients, ages 18-75, with diabetes (type 1 and type 2) who had their blood pressure taken and it was under control or less than 140 over 90 (<140/90). Patients with diabetes should have a blood pressure level that is less than 140 over 90 because it reduces the risk of other health problems such as heart failure. The first number (140) measures when the heart beats. The second number (90) measures when the heart is resting between beats and refilling with blood.</p>
            <h4>How many patients with persistent asthma (out of a hundred) were able to control their asthma using an inhaler</h4>
            <p>The percent of patients, ages 5–64, with persistent asthma, who were able to control their asthma by using their inhaler instead of emergency medicines. Doctors prescribe inhalers to help their patients control their asthma on a day-to-day basis and help relieve mild asthma symptoms. Emergency medicines should not be used on a day-to-day basis to control persistent asthma. Patients who receive high quality asthma care from their doctor are more likely to control their asthma by using an inhaler and only use emergency medicines when needed. A higher percentage of patients who control their asthma by using an inhaler is better.</p>
            <h4>How many patients with high blood pressure (out of a hundred) had their blood pressure under control</h4>
            <p>The percent of patients, ages 18-59, with high blood pressure, who got their blood pressure taken and it was under control or less than 140 over 90 (<140/90).  Patients with high blood pressure should have a blood pressure level that is less than 140 over 90 because it reduces the risk of other health problems such as heart failure. The first number (140) measures when the heart contracts beats. The second number (90) measures when the heart is resting between beats and refilling with blood.</p>
            <h4>How many patients with a new diagnosis of COPD (out of a hundred) got a test to confirm their diagnosis</h4>
            <p>The percent of patients, age 40 and older, with a new diagnosis of COPD, who got the recommended test to confirm their diagnosis. Sometimes doctors diagnose patients with COPD based on their symptoms, such as shortness of breath and a history of smoking. However, it is best to confirm a patient has COPD by using a spirometry test. A spirometry test checks how well a patients lungs work by measuring how much air they breathe in, how much air they breathe out, and how quickly they can blow air out. A higher percentage of patients who got a spirometry test to confirm their diagnosis is better.</p>

            <h3>Medical Group Patient Survey Results</h3>
            <p>These ratings are the results of the CAHPS Clinician & Group Survey (CG-CAHPS) which asks patients to report on and rate their recent experiences with doctors and the staff in their medical group.</p>
            <h4>Getting Timely Appointments, Care, and Information</h4>
            <p>Information about how often patients got care as soon as needed and how often patients received answers to questions when they contacted the office. The rate shown is the percent of patients who answered "always" to the individual questions.</p>
            <ul>
                <li><p><em>Got appointment for urgent care as soon as needed</em></p>
                    <p>The survey asked patients how often they were always able to get an appointment for urgent care as soon as they needed.</p></li>
                <li>
                    <p><em>Got appointment for check-up or routine care as soon as needed</em></p>
                    <p>The survey asked patients how often they were always able to get an appointment for non-urgent care as soon as they needed.</p>
                </li>
                <li>
                    <p><em>Got answer to phone question during regular office hours on same day</em></p>
                    <p>The survey asked patients how often they were always able to get an answer to a medical question on the same day they called the provider’s office.</p>
                </li>
                <li>
                    <p><em>Got answer to phone question after hours as soon as needed</em></p>
                    <p>The survey asked patients how often they were always able to get an answer to a medical question on the same day they called the provider’s office after office hours.</p>
                </li>
                <li>
                    <p><em>Saw provider within 15 minutes of appointment time</em></p>
                    <p>The survey asked patients how often they always saw their provider within 15 minutes of their scheduled appointment time.</p>
                </li>
            </ul>
            <h4>How Well Providers Communicate with Patients</h4>
            <p>Information about how well patients say their provider communicated with them, such as whether the doctor explained things clearly and listened to them carefully. A provider could be a doctor, nurse practitioner, physician assistant, or other individual who provides clinical care. The rate shown is the percent of patients who answered "yes, definitely" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Provider explained things clearly</em></p>
                    <p>The survey asked patients how often their provider always explained things in a way that was easy for them to understand.</p>
                </li>
                <li>
                    <p><em>Provider listened carefully to patient</em></p>
                    <p>The survey asked patients how often their provider always listened carefully to them.</p>
                </li>
                <li>
                    <p><em>Provider gave easy to understand information on health questions or concerns</em></p>
                    <p>The survey asked patients how often their provider always gave them information about their health questions or concerns that was easy to understand.</p>
                </li>
                <li>
                    <p><em>Provider knew important information about your medical history</em></p>
                    <p>The survey asked patients how often their provider always knew important information about their medical history.</p>
                </li>
                <li>
                    <p><em>Provider showed respect</em></p>
                    <p>The survey asked patients how often their provider always showed respect for what they had to say.</p>
                </li>
                <li>
                    <p><em>Provider spent enough time</em></p>
                    <p>The survey asked patients how often their provider always spent enough time with them.</p>
                </li>
            </ul>
            <h4>Helpful, Courteous, and Respectful Office Staff</h4>
            <p>Information about how often patients say office staff were helpful, courteous, and respectful to them. The rate shown is the percent of patients who answered "yes, definitely" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Office staff was helpful</em></p>
                    <p>The survey asked patients how often staff at the provider’s office were always helpful. </p>
                </li>
                <li>
                    <p><em>Office staff courteous and respectful</em></p>
                    <p>The survey asked patients how often staff at the provider’s office were always courteous and respectful. </p>
                </li>
            </ul>
            <h4>Patients’ Rating of the Provider</h4>
            <p>Information about how patients rate their doctor overall. The rate shown is the percent of patients who rated their provider a 9 or 10.</p>
            <ul>
                <li>
                    <p><em>Rating of provider</em></p>
                    <p>The survey asked patients how they would rate the care they received from their provider and their officer staff overall. Patients rated the care they received from their provider and their office staff on a scale from 0 to 10, where 0 is the worst care possible and 10 is the best care possible.</p>
                </li>
            </ul>
            <h4>Follow-up on Test Results</h4>
            <p>Information about whether someone from the provider's office followed up with the patient. The rate shown is the percent of patients who answered "yes" to the individual question.</p>
            <ul>
                <li>
                    <p><em>Provider’s office followed up with test results</em></p>
                    <p>The survey asked patients how often someone from the provider’s office always follow up with the patient to give results of a blood test, x-ray, or other test?</p>
                </li>
            </ul>
            <h4>Recommend Provider's Office</h4>
            <p>Information about whether patients would recommend their provider to a family member or friend. The rate shown is the percent of patients who answered "yes, definitely" to the individual question.</p>
            <ul>
                <li>
                    <p><em>Would patients recommend the provider’s office?</em></p>
                    <p>The survey asked patients if they would recommend the provider’s office to friends and family. </p>
                </li>
            </ul>
            <h4>Providers Pay Attention to Your Child's Growth and Development</h4>
            <p>Information about how often the parent or guardian and someone at the provider’s office talked about the child’s growth, behaviors, moods and emotions, and ability to learn and get along with others. The rate shown is the percent of patients who answered "yes" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's learning ability</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child's learning ability.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about normal behaviors</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child's behaviors and whether they are appropriate for their age.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's growth</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child's physical development.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's moods and emotions</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child's moods and emotions.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about time spent on the computer or watching TV</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about how much time the child spends on a computer and in front of the TV.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's ability to get along with others</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child gets along with others.</p>
                </li>
            </ul>
            <h4>Provider's Advice on Keeping your Child Safe and Healthy</h4>
            <p>Information about how often the parent or guardian and someone at the provider’s office talked about keeping their child from getting injured, the food the child eats, physical activity, and household problems. Parents were also asked if the doctor gave printed handouts or booklets on keeping their child from getting injured. The rate shown is the percent of patients who answered "yes" to the individual questions.</p>
            <ul>
                <li>
                    <p><em>Spoke with someone at the provider's office about ways to prevent injuries</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about how to prevent injuries.</p>
                </li>
                <li>
                    <p><em>Received information about preventing injuries</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office gave them information about preventing injuries.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's diet</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child's eating habits.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about child's exercise</em></p>
                    <p>The survey asked parents or guardians if someone at the provider’s office talked to them about the child’s physical activity.</p>
                </li>
                <li>
                    <p><em>Spoke with someone at the provider's office about household problems affecting the child</em></p>
                    <p>The survey asked parents or guardian if someone at the provider’s office talked to them about any problems in the household that might affect the child.</p>
                </li>
            </ul>
        </div>

    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r3'" data-mh-accordion-label="'How are the medical group ratings calculated?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r3'" class="resource__toggle-content">
            <h4>Medical Group Rates of Medical Care for Diabetes, Asthma, High Blood Pressure, and COPD</h4>
            <p>The Healthcare Effectiveness Data and Information Set (HEDIS) does not have ratings (e.g., star ratings). Instead, HEDIS reports the percentage of patients receiving the appropriate care from their medical group for the following conditions: diabetes, asthma, high blood pressure, and chronic obstructive pulmonary disease (COPD). Learn more about measuring quality in medical groups from the <a href="http://www.ncqa.org/consumers/measuring-quality" target="_blank">National Committee for Quality Assurance </a>.</p>
            <h4>Medical Group Patient Survey Results</h4>
            <p>Each of the composite measure ratings is created by scoring the responses to each question, or assigning a numeric value to each response. For example, in a yes/no question, a “no” can be given a value of 0 and yes a value of 1. The values of the responses to each individual question are totaled to create the value for the composite measure.</p>
            <p>The value of each composite measure is graded like on a test, where the result can be from 0 to 100, with 100 being the best. A star rating for the composite measure is assigned based on the final result:</p>
            <ul>
                <li>5 stars is a value of 91 to 100, or the top 10% of all results</li>
                <li>4 stars is a value from 70 to 90</li>
                <li>3 stars is a value from 51 to 70</li>
                <li>2 stars is a value from 26 to 50</li>
                <li>1 star is assigned to scores 25 and below, or the bottom 25% of all results</li>
            </ul>
            <p>If there are fewer than 20 responses to questions that can be used for a composite, the result is not calculated.</p>
            <p>Six of the composite measures are for adult patients while two are asked of parents for their children. Not all provider groups care for both adults and children, so the two different types of overall results are first calculated separately then combined.</p>
            <p>For the adult survey, the six composites measures are added together and then divided by the number of composite measures to get an overall score from 0 to 100. If one of the composite measures has fewer than 20 responses and could not be calculated, the overall rating is made up of the remaining composite measures and then divided by the number that had enough responses.</p>
            <p>The two child composite measures are given an overall score the same way, adding the two composite measures together and then dividing by two to get a score from 0 to 100. If one of them has too fewer responses, then the overall score will be the same as the one for the remaining composite measure.</p>
            <p>Next, the adult and child scores are combined to create an overall score, but they’re not just added together. Each is sized, before adding, based on the total number of adults and children. For a practice that saw 100 adults and 50 children, the adult score would comprise two thirds of the final score while the child score will be one third. If the practice saw 100 children and no adults, the child score will be the only one included. The overall score is assigned a star rating the same way as the composite measures.</p>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r4'" data-mh-accordion-label="'Who’s included?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r4'" class="resource__toggle-content">
            <p>Information about individual doctors comes from Physician Compare which includes only doctors and other healthcare professionals who are currently enrolled in Medicare.</p>
            <p>It can take 3-6 months for new doctors, other healthcare professionals, and medical groups to be added to Physician Compare after they enroll in Medicare. Visit Physician Compare regularly to find new and updated listings.</p>
            <p>Even though Physician Compare is updated often, information can change. Always contact the doctor’s office to find out if they accept Medicare Assignment, if they’re accepting new Medicare patients, and to check the address.</p>
            <p>Information about medical care rate for certain conditions and ratings based on patient experience results are for the entire medical group, combining results for each provider. Medical groups can range from small groups with several doctors to large organizations with hundreds of doctors. Some medical groups offer their patients a better experience than others. Patient experience results come from the CAHPS Clinician & Group Survey (CG-CAHPS) which asks patients to report on and rate their recent experiences with doctors and the staff in their medical practice. Information about medical care for certain conditions comes from the Healthcare Effectiveness Data and Information Set (HEDIS). This report looks at the percentage of patients receiving the appropriate care from their medical practice for health issues such as diabetes, asthma, and high blood pressure.</p>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r5'" data-mh-accordion-label="'What do I do if I have concerns about physician quality?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r5'" class="resource__toggle-content">
            <p>State medical boards are responsible for licensing physicians to practice in each state. To file a complaint about unprofessional conduct, poor quality care or other issues, <a href="http://www.ama-assn.org/ama/pub/education-careers/becoming-physician/medical-licensure/state-medical-boards.page" target="_blank">contact your state medical board</a>. State boards investigate complaints against physicians and will discipline them if necessary. Types of physician misconduct might include working while impaired by alcohol or drugs, harassing or intimidating patients, refusing to provide care based on race or other factors, failing to make patient records available on request, ordering too many tests or treatments, or practicing without a license. </p>
        </div>
    </section>
</div>
