<div class="row">
  <div class="col-md-6">
    <label>Find a Specific Hospital:</label>
    <select data-ui-select2="{{select2Options}}" data-ng-model="hospitalId" data-ng-change="gotoHospital()" class="select2" data-placeholder="Choose a Hospital">
      <option></option>
      <option data-ng-repeat="x in hospitals" value="{{ x.id }}">{{ x.name }}</option>
    </select>
  </div>

  <div class="col-md-6">
    <label>Choose a Topic:</label><br />
    <select data-ui-select2="{{select2Options}}" data-ng-model="topicId" data-ng-change="gotoTopic()" class="select2" data-placeholder="Choose a Topic">
      <option></option>
      <option data-ng-repeat="x in topics" value="{{ x.id }}">{{ x.name }}</option>
    </select>
  </div>
</div>

