<main class='infographic infographic--surgery'>
    <section class="sharethis-section clearfix">
        <nav class="sharethis-nav">
            <ul class="clearfix">
                <li>
                    <button data-ng-click="share()" class="btn-m-secondary">Share This Page</button>
                </li>
                <li>
                    <button class="btn-m-secondary" data-ng-click="feedbackModal()" data-ng-if="config.products.consumer.website_FeedBackEmail">Feedback</button>
                </li>
            </ul>
        </nav>
    </section>
    <section class="info-graphic-head">
        <div class="container">
            <img src="themes/consumer/assets/infographic/header-icon-bar.png" alt="Row of various medical icons">
            <h1>Need Surgery?</h1>
            <h2>Make Sure You are Safe as Possible</h2>

            <div class="box">American health care <strong>saves millions of lives through treatment and surgery</strong>.<br>However, when things go wrong the effect can be devastating and expensive.</div>
        </div>
    </section>
    <section class="statistic-blocks clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="info-graphic-statistic">
                        <h6>Each year in the United States</h6>
                        <div class="statistic-value">
                            <div class="value-content">about<p style="font-size:26px;line-height:1.2;">{{getMeasureValue("INF-GRPH-NAT-01", 0)}}</p></div>
                        </div>
                        <p class="statistic__description">patients develop an <strong>infection</strong> at their <strong>surgical site</strong><sup><a href="#" id="ref1" data-ng-click="gotoFootnote($event, '#foot1')" title="Click to read footnote #1">1</a></sup></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="info-graphic-statistic">
                        <h6>Each year in the United States</h6>
                        <div class="statistic-value">
                            <div class="value-content">about<p style="font-size:26px;line-height:1.2;">{{getMeasureValue("INF-GRPH-NAT-02", 0)}}</p></div>
                        </div>
                        <p class="statistic__description">patients <strong>accidentally get cut</strong> or have a <strong>hole poked</strong> in an organ that was not part of the surgery<sup><a href="#" id="ref2" data-ng-click="gotoFootnote($event, '#foot2')" title="Click to read footnote #2">2</a></sup></p>
                    </div>
                    <p class="infographic-statistic-text"><strong>Surgery patients are {{getMeasureValue("INF-GRPH-NAT-04", 0)}} times more likely to die</strong><br>when a surgical mistake happens.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="info-graphic-detail clearfix">
        <div class="container">
            <p>The good news is that doctors, nurses, and hospitals are improving patient safety, especially for surgery.</p>
            <p>Many hospitals have very good surgical safety ratings, but others don’t.</p>
            <p><strong>Everyone can do better.</strong></p>
        </div>
    </section>
    <section class="info-graphic-quality clearfix" data-ng-if="activeSection(1) === true">
        <div class='contain'>
            <p class='infographic__title'>Mistakes happen during surgery even in {{report.regionName}}!<br><strong>In one year<sup><a href="#" id="ref3" data-ng-click="gotoFootnote($event, '#foot3')" title="Click to read footnote #3">3</a></sup>, in our own backyard:</strong></p>

            <div class='infographic__quality__stats'>
                <div class='infographic__quality__stat'>
                    <small></small>
                    <p class='quality-value'>{{getMeasureValue("PSI 05", 0)}}</p>
                    <p class='quality__description'>patients had a <strong>surgical tool accidentally left</strong> in their body<sup><a href="#" id="ref4" data-ng-click="gotoFootnote($event, '#foot4')" title="Click to read footnote #4">4</a></sup></p>
                </div>
                <div class='infographic__quality__stat'>
                    <small>In</small>
                    <p class='quality-value'>{{getMeasureValue("PSI 06", 0)}}%</p>
                    <p class='quality__description'>of surgeries, the surgeon <strong>accidentally made a hole in the patient’s lung</strong><sup><a href="#" id="ref5" data-ng-click="gotoFootnote($event, '#foot5')" title="Click to read footnote #5">5</a></sup></p>
                </div>
                <div class='infographic__quality__stat'>
                    <small>In</small>
                    <p class='quality-value'>{{getMeasureValue("PSI 15", 0)}}%</p>
                    <p class='quality__description'>of surgeries, <strong>an organ</strong> that was not part of the surgery <strong>was cut or punctured accidentally</strong><sup><a href="#" id="ref6" data-ng-click="gotoFootnote($event, '#foot6')" title="Click to read footnote #6">6</a></sup></p>
                </div>
                <div class='infographic__quality__stat'>
                    <small>In</small>
                    <p class='quality-value'>{{getMeasureValue("PSI 14", 0)}}%</p>
                    <p class='quality__description'>of surgeries, <strong>the surgical wound</strong> on the patient’s stomach or pelvic area <strong>split open</strong><sup><a href="#" id="ref7" data-ng-click="gotoFootnote($event, '#foot7')" title="Click to read footnote #7">7</a></sup></p>
                </div>
                <div class='infographic__quality__stat'>
                    <small></small>
                    <p class='quality-value'>{{getMeasureValue("PSI 16", 0)}}</p>
                    <p class='quality__description'>patients had unexpected <strong>reactions to blood transfusions</strong><sup><a href="#" id="ref8" data-ng-click="gotoFootnote($event, '#foot8')" title="Click to read footnote #8">8</a></sup></p>
                </div>
                <div class='infographic__quality__callout box'>
                    <p>All of us need to know how often surgical problems happen and if things are getting better.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="info-graphic-staffing clearfix">
        <div class="container">
            <div class="staffing-intro"><p>Fortunately, <strong>doctors and nurses know what should be done before, during and after surgery to prevent problems</strong><sup><a href="#" id="ref9" data-ng-click="gotoFootnote($event, '#foot9')" title="Click to read footnote #9">9</a></sup>.</p></div>
            <div class="info-graphic-clipboard nursing-graphic-board clearfix">
                <p class="board-title">For example:</p>
                <ul>
                    <li>Certain types of antibiotics should be given to the patient an hour before surgery, then stopped within 24 hours after surgery.</li>
                    <li>The patient&rsquo;s temperature should be kept warm and stable.</li>
                    <li>To prevent blood clots, special &lsquo;pressure&rsquo; socks should be used to keep blood flowing in the patient&rsquo;s legs. And the foot of the patient&rsquo;s bed should be raised.</li>
                    <li>If a catheter was required to help empty a patient's bladder, it should be removed within two days after surgery.</li>
                </ul>
                <div class='clipboard__post-it'>
                    <p>Many hospitals take these steps with every surgery patient. But some don’t, and that puts patients at risk.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="info-graphic-inspections clearfix" data-ng-if="activeSection(2) === true">
        <div class="container">
            <h3 class="info-graphic-title">How safe is the surgery for patients in {{report.regionName}}<sup><a href="#" id="ref10" data-ng-click="gotoFootnote($event, '#foot10')" title="Click to read footnote #10">10</a></sup></h3>
            <div class="inspections-measures double-column">
                <img src='themes/consumer/assets/infographic/icon-clock-circled.png' alt='Clock icon' />
                <p class='measure__value'>{{getMeasureValue("SCIP-INF-1", 0)}}</p>
                <p class='measure__description'>received an antibiotic at the right time before surgery<sup><a href="#" id="ref11" data-ng-click="gotoFootnote($event, '#foot11')" title="Click to read footnote #11">11</a></sup></p>
            </div>
            <div class="inspections-measures double-column">
                <img src='themes/consumer/assets/infographic/icon-pills-circled.png' alt='Pills icon' />
                <p class='measure__value'>{{getMeasureValue("SCIP-INF-2", 0)}}</p>
                <p class='measure__description'>were given the right kind of antibiotic before surgery<sup><a href="#" id="ref12" data-ng-click="gotoFootnote($event, '#foot12')" title="Click to read footnote #12">12</a></sup></p>
            </div>
            <div class="inspections-measures double-column">
                <img src='themes/consumer/assets/infographic/icon-thermometer-circled.png' alt='Thermometer illustration' />
                <p class='measure__value'>{{getMeasureValue("SCIP-INF-10", 0)}}</p>
                <p class='measure__description'>had body temperatures managed during and after surgery<sup><a href="#" id="ref13" data-ng-click="gotoFootnote($event, '#foot13')" title="Click to read footnote #13">13</a></sup></p>
            </div>
            <div class="inspections-measures double-column">
                <img src='themes/consumer/assets/infographic/icon-heart-circled.png' alt='Heart icon' />
                <p class='measure__value'>{{getMeasureValue("SCIP-VTE-2", 0)}}</p>
                <p class='measure__description'>received treatments to prevent blood clots after surgery<sup><a href="#" id="ref14" data-ng-click="gotoFootnote($event, '#foot14')" title="Click to read footnote #14">14</a></sup></p>
            </div>
            <div class="inspections-measures double-column">
                <img src='themes/consumer/assets/infographic/icon-calendar-circled.png' alt='Calendar icon' />
                <p class='measure__value'>{{getMeasureValue("SCIP-INF-9", 0)}}</p>
                <p class='measure__description'>who needed a catheter during their procedure had it removed within two days after surgery<sup><a href="#" id="ref15" data-ng-click="gotoFootnote($event, '#foot15')" title="Click to read footnote #15">15</a></sup></p>
            </div>
        </div>
    </section>
    <section class="info-graphic-tips-blocks clearfix">
        <div class="container">
            <h3 class="info-graphic-title large">Tips to Be as Safe as Possible Before, During and After Surgery</h3>

            <div class="clearfix">
                <h4 class="title-tip">Do Your Homework</h4>
                <ul>
                    <li>Understand there are ways to keep patients safe during surgery, and these actions should be taken with every patient, for every surgery</li>
                    <li>Know the safe surgery ratings for your hospital – visit <a ui-sref="top.consumer.home">{{report.siteName}}</a></li>
                </ul>
            </div>

            <div class="clearfix">
                <h4 class="title-tip">Talk About Your Safety</h4>
                <ul>
                    <li>Take a copy of this list (and your hospital’s ratings) to talk with your doctor about what to expect when you have surgery</li>
                    <li>Ask your doctor to use the <em>World Health Organization Safe Surgery Checklist<sup><a href="#" id="ref16" data-ng-click="gotoFootnote($event, '#foot16')" title="Click to read footnote #16">16</a></sup></em> which is proven to reduce the risk of death and complications from surgery<sup><a href="#" id="ref17" data-ng-click="gotoFootnote($event, '#foot17')" title="Click to read footnote #17">17</a></sup></li>
                </ul>
            </div>

            <div class="clearfix">
                <h4 class="title-tip">Have a Team on Your Side</h4>
                <ul>
                    <li>Bring someone with you to ask questions and listen when you see your doctor or are in the hospital</li>
                    <li>If people are not paying attention to your concerns, talk to the hospital’s patient advocate service – their job is to help you.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="info-graphic-help-actions clearfix">
        <div class="container">
            <p class="text-left">Talking with your doctor shows you want to be a <strong>partner in your care</strong>. It also helps remind your care team to take certain actions to keep you as safe as possible <em>before, during and after surgery</em>.</p>
            <p>For more information, visit</p>
            <a href="#" data-ng-click="gotoHome(); $event.preventDefault()" class="btn-custom">{{report.siteName}}</a>
        </div>
    </section>
    <section class="info-graphic-foot-notes clearfix">
        <div class="container">
            <div class="link-btn"><a href="javascript:;" onclick="showFootNotes(this);">Click here to view citations and footnotes<span></span></a></div>
            <div class="notes-list clearfix">
                <ol>
                    <li data-ng-repeat="cite in report.citationData">
                        <span data-ng-bind-html="cite.citationBody"></span>
                        <a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="ref{{$index + 1}}" title="Click to return from footnote #{{$index + 1}}">^</a>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</main>
