<div class="container">
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="toggleIcon(this);">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="visible-xs navbar-brand" href="#"><img data-ng-src="{{config.products.consumer.website_LogoImagePath}}" alt="MONAHRQ Logo"></a>
        </div>

        <div id="menu" data-mh-menu="consumerMenu" data-nav-class="'nav--header'" class="navbar-collapse collapse" aria-expanded="false"></div>
    </nav>
</div>

