<h2 class="resource__content-title">Hospital Quality</h2>
<div data-mh-accordion>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r1'" data-mh-accordion-label="'What are the hospital quality ratings?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r1'" class="resource__toggle-content">
            <p>Quality ratings are based on information from hospitals about how well they provide care and from patient survey results about their experience in the hospital. There are four types of quality ratings included on the site: recommended care, results of care, practice patterns, and patient experience. This report shows hospitals’ quality ratings on several different topics, including patient safety and specific health conditions. The ratings come from three different sources:</p>
            <ul>
                <li><strong>AHRQ Quality Indicators:</strong> The AHRQ Quality Indicators are a set of quality ratings that were developed by the Agency for Healthcare Research and Quality (AHRQ), a federal government agency whose mission is to improve the quality and safety of health care in the United States. The AHRQ Quality Indicators are calculated from standardized information that hospitals include in their bills. For more information, please visit the <a href="http://www.qualityindicators.ahrq.gov/" target="_blank">AHRQ Quality Indicators Website</a>.</li>
                <li><strong>CMS Hospital Compare ratings:</strong> The Centers for Medicare and Medicaid Services (CMS) publicly reports hospital quality ratings on its Website, Hospital Compare, which was created as a joint effort by CMS and the Hospital Quality Alliance (HQA). Over 4,500 U.S. hospitals - nearly every hospital in the nation - report performance information to Hospital Compare. For more information, please visit the <a href="http://www.hospitalcompare.hhs.gov/" target="_blank">Hospital Compare Website</a>.</li>
                <li><strong>HCAHPS patient experience ratings:</strong> HCAHPS (Hospital Consumer Assessment of Healthcare Providers and Systems) is a national, standard survey that asks a random sample of  patients from virtually all hospitals in the US about their recent hospital experience. The HCAHPS survey was developed by a partnership of public and private organizations, including CMS and AHRQ. For more information, please visit the <a href="http://www.hcahpsonline.org/home.aspx" target="_blank">HCAHPS Website</a>.</li>
            </ul>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r2'" data-mh-accordion-label="'How do I select hospitals to compare?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r2'" class="resource__toggle-content">
            <p>You can select hospitals in two ways:</p>
            <ul>
                <li><strong>By hospital:</strong> Select one or more hospital names from the dropdown list.</li>
                <li><strong>By ZIP code:</strong> Enter a ZIP Code and a distance in miles. Then select one or more hospitals in that area from the dropdown list.</li>
            </ul>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r3'" data-mh-accordion-label="'What topics are available?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r3'" class="resource__toggle-content">
            <p>Quality ratings are organized into topics by health condition or by information that people are interested in, such as patient safety or patient experience with care.</p>
            <p>For more information on the ratings included in each topic,visit <a data-ui-sref="top.consumer.resources({page: 'AboutQualityRatings'})" target="_self"> Rating Details</a>.</p>
            <p>To learn more about planning your care, visit <a href="http://www.ahrq.gov/patients-consumers/diagnosis-treatment/hospitals-clinics/goinghome/index.html" target="_blank">Taking Care of Myself: A Guide for When I Leave the Hospital</a></p>
            <h4>Health Topics</h4>
            <ul>
                <li><strong>Childbirth:</strong> Ratings about care for new mothers and newborns including information about how often and when C-sections and vaginal births are performed.</li>
                <li><strong>COPD (Chronic Obstructive Pulmonary Disease):</strong> Ratings about treatment for people who have certain lung diseases that block airflow and make it hard to breathe. Two types of COPD are chronic bronchitis and emphysema.</li>
                <li><strong>Combined quality and safety rating:</strong> Ratings that combine more than one rating into one score. Composite ratings provide a summary of quality or performance.</li>
                <li><strong>Emergency department (ED):</strong> Ratings about care that people got when they visited the hospital’s emergency department.</li>
                <li><strong>Health Care Cost and Quality:</strong> Health care quality is doing the right thing, at the right time, the right way. Higher costs do not necessarily mean that a provider is offering higher-quality care. You can find a provider who offers high quality care at an affordable cost.</li>
                <li><strong>Heart attack and chest pain:</strong> Ratings about heart attack care. A heart attack, also called an acute myocardial infarction (AMI), happens when the arteries leading to the heart become blocked and the blood supply slows or stops.</li>
                <li><strong>Heart failure:</strong> Ratings about care for heart failure. Heart failure or congestive heart failure is a weakening of the heart's pumping power that prevents the body from getting enough oxygen and nutrients to meet its needs.</li>
                <li><strong>Heart surgeries and procedures:</strong> Ratings about surgeries and procedures related to the heart such as angioplasty and coronary bypass surgery.</li>
                <li><strong>Hip and knee replacement surgery:</strong> Ratings about surgeries that use artificial joints to replace hips and knees to relievef pain and restore function.</li>
                <li><strong>Imaging:</strong> Ratings about whether magnetic resonance imaging (MRI) and Computerized Tomography (CT scans) were performed safely and only when needed.</li>
                <li><strong>Infections:</strong> Ratings about how well hospitals keep patients from getting diseases while in the hospital. Healthcare surgeries or procedures can leave you exposed to germs that cause new infections. These germs can be spread from patient to patient on unclean hands of healthcare workers or through unclean equipment.</li>
                <li><strong>Patient safety:</strong> Ratings about how safe the hospital is for patients. Many medical mistakes can be prevented when hospital staff take the right steps.</li>
                <li><strong>Patient survey results:</strong> Ratings from the Hospital Consumer Assessment of Healthcare Providers and Systems (HCAHPS, pronounced "H-caps"). HCAHPS is a national, standardized survey of hospital patients that asks patients about their experiences during a recent hospital stay.</li>
                <li><strong>Pneumonia:</strong> Ratings about pneumonia care. Pneumonia is a serious lung infection that can cause difficulty breathing, fever, cough, and fatigue.</li>
                <li><strong>Stroke:</strong> Ratings about stroke care. A stroke happens when the blood supply to the brain stops. This topic includes carotid endarterectomy surgery, an operation intended to prevent stroke.</li>
                <li><strong>Surgeries for Specific Health Conditions:</strong> Ratings about surgeries other than heart surgery, such as brain surgery (craniotomy) and gallbladder removal  surgery.</li>
                <li><strong>Surgical patient safety:</strong> Ratings about how safe the hospital is for patients having surgery. Many medical complications can be avoided if patients receive the right care before, during, and after surgery.</li>
            </ul>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r4'" data-mh-accordion-label="'What types of ratings are in the health topics?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r4'" class="resource__toggle-content">
            <p>Health topics include different types of ratings that measure different aspects of health care quality. In the quality ratings table, each tab shows one type of rating. Not all types of ratings are available for every health topic. Some of the different types of ratings are explained below.</p>
            <ul>
                <li><strong>Recommended care:</strong> Information on how many patients received the care they needed such as the right medicine, surgery, or advice. These ratings are sometimes called process measures.</li>
                <li><strong>Results of care:</strong> Information about patients' health while being cared for in the hospital or after leaving the hospital. These ratings are sometimes called outcome measures.</li>
                <li><strong>Practice patterns:</strong> Information about the types of care provided in the hospital such as information about the numbers and types of surgeries or procedures a hospital performs.</li>
                <li>
                    <strong>Patient survey results:</strong> These types of ratings appear only in the "Patient Experiences" health topic. These ratings are the results of the HCAHPS patient survey.
                    <ul>
                        <li><strong>Communication:</strong> Information about how well patients say hospital staff communicated with them, such as whether staff explained things clearly and listened to them carefully.</li>
                        <li><strong>Environment:</strong> Information about how patients describe the physical environment in the hospital such as whether they received help quickly, their pain was well-controlled, and their rooms were kept clean and quiet.</li>
                        <li><strong>Overall ratings:</strong> Information about how patients rate their recent hospital stay overall and whether they would recommend the hospital to others.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r5'" data-mh-accordion-label="'How did we analyze this information?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r5'" class="resource__toggle-content">
            <p>MONAHRQ does not analyze information to calculate quality ratings’ rates. Quality ratings with pre-calculated rates from multiple sources can be imported to MONAHRQ. These rates are compared with national and state benchmark for reporting. Below is the list of the information sources used in MONAHRQ:</p>
            <ul>
                <li><strong>AHRQ Quality Indicators:</strong> MONAHRQ displays rating results calculated with AHRQ's Quality Indicators software version 4.5 based on the hospital discharge information. For more on the methods used by the AHRQ QI software, <a href="http://www.qualityindicators.ahrq.gov/" target="_blank">visit the AHRQ QI Website</a>.</li>
                <li><strong>CMS Hospital Compare ratings:</strong> MONAHRQ obtains this information from the Hospital Compare site. The ratings are calculated by CMS using nationally accepted standards using information that individual hospitals provide to Hospital Compare, as well as information from the Centers for Disease Control and Prevention and The Joint Commission, which inspects hospitals for safety and quality. This information can be checked for accuracy. For more information on the methods used by Hospital Compare, <a href="http://www.hospitalcompare.hhs.gov/" target="_blank">visit the Hospital Compare Website</a>.</li>
                <li><strong>HCAHPS patient experience ratings:</strong> MONAHRQ obtains this information from the Hospital Compare Website. These ratings are reported to CMS by the groups that conduct surveys for individual hospitals . For more information on HCAHPS, <a href="http://www.hcahpsonline.org/home.aspx" target="_blank">visit the HCAHPS Website</a>. For more information on HCAHPS measures in Hospital Compare, <a href="http://www.hospitalcompare.hhs.gov/" target="_blank">visit the Hospital Compare Website</a>.</li>
                <li>For more details on individual ratings, <a data-ui-sref="top.professional.resources({page: 'AboutQualityRatings'})" target="_self">visit Rating Details</a>.</li>
            </ul>
        </div>
    </section>

    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r6'" data-mh-accordion-label="'How are the quality ratings assigned?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r6'" class="resource__toggle-content">
            <p>A hospital is rated by comparing it to a national or state average of other hospitals. Ratings are assigned using two different methods. The key at the top of the quality ratings table tells you which method is used.</p>
            <p>For the AHRQ Quality Indicators and CMS Hospital Compare ratings in "Results of care" and "Practice patterns," the ratings are determined by comparing the hospital’s score to the state or national average score:</p>
            <ul>
                <li><strong>Better:</strong> Hospital is better than the state or national average.</li>
                <li><strong>Average:</strong> Hospital is about the same as the state or national average.</li>
                <li><strong>Below:</strong> Hospital is worse than the state or national average.</li>
            </ul>
            <p>This method includes a statistical test for most ratings.  We only rate a hospital as better or worse than average when we are at least 95% confident we are correct. Otherwise, we rate the hospital as average. Experts believe that being 95% confident is acceptable.</p>
            <p>For the CMS Hospital Compare ratings in the "Recommended care" group and the HCAHPS patient experiences ratings. Hospitals are assigned a rating of better, average, or below. The ratings are determined by comparing the hospital’s score to the scores of other hospitals:</p>
            <ul>
                <li><strong>Better:</strong> Hospital is in the best 10% of hospitals.</li>
                <li><strong>Average:</strong> Hospital is better than the state or national average, but not in the best 10% of hospitals.</li>
                <li><strong>Below:</strong> Hospital is worse than the state or national average. This method does not include a statistical test.</li>
                <li><strong>Not Enough Information:</strong> A hospital is assigned "not enough data" when there are too few cases to rate a hospital with certainty. Most often, the hospital did not have any cases that qualified for the rating. For example, if a hospital had only a few heart attack patients, there would not be enough information to rate this hospital on how well it cares for heart attack patients.</li>
                <li><strong>Not Rated:</strong> If there are no national standards for rating hospitals, a number of how many times a hospital has done a procedure is provided instead. In some cases, such as procedures that are complicated and need people to work together smoothly, experts believe that the more procedures a hospital does, the better their results are likely to be.  However, experts do not agree about exactly how many procedures are needed to be “better” or “best.”</li>
            </ul>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r7'" data-mh-accordion-label="'What are the hospital comparison groups?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r7'" class="resource__toggle-content">
            <p>A hospital is rated by comparing it to other hospitals. You can compare hospitals with the rest of the nation or with other hospitals in My State. The default is to compare hospitals in My State. To change this use the buttons "Compare Results To:"</p>
            <h4>Comparison groups for the AHRQ Quality Indicators:</h4>
            <p>Nationwide benchmarks are calculated by AHRQ based on analysis of 44 states from the 2010 AHRQ's <a href="http://www.hcup-us.ahrq.gov/" target="_blank">Healthcare Cost and Utilization Project (HCUP) State Inpatient Databases (SID)</a>. Because the national comparison information comes from AHRQ, and the information MONAHRQ uses to calculate the individual indicators values is local, the years of these two datasets may be different.</p>
            <p>Local comparisons are calculated directly by MONAHRQ based on information from hospitals in My State. MONAHRQ calculates the comparison values and individual AHRQ Quality Indicators from the same dataset.</p>
            <h4>Comparison groups for the CMS Hospital Compare and patient experience ratings:</h4>
            <p>Nationwide comparisons are calculated by CMS based on information they collect directly from hospitals for Hospital Compare. CMS calculates the comparison values and individual rating values from the same dataset.</p>
            <p>Local comparisons are calculated directly by MONAHRQ based on information from the CMS Hospital Compare Website. The comparison values and individual rating come from the same source.</p>
            <h4>Are the ratings risk adjusted?</h4>
            <p>Risk adjustment is a statistical process of accounting for how sick patients are before they enter the hospital.  In some hospitals, there are more very sick patients, and this may affect their ratings.  Risk adjustment aims to “level the playing field” by accounting for health risks that patients in a given hospital have, compared to the typical level of health risks.</p>
            <p><strong>AHRQ Quality Indicators:</strong> Most AHRQ Quality Indicators are risk adjusted. To learn which indicators are risk adjusted, <a data-ui-sref="top.consumer.resources({page: 'AboutQualityRatings'})" target="_self">visit Measure Details</a>. For more information on the risk adjustment methods used for the AHRQ QIs, visit the <a href="http://monahrq.ahrq.gov/MONAHRQ_50_Measure_List.xlsx" target="_blank">AHRQ QI Website</a>.</p>
            <p><strong>CMS Hospital Compare ratings:</strong> Hospital Compare ratings in the "Results of care" group are risk adjusted. Other Hospital Compare ratings are not risk adjusted. For more information on the risk adjustment methods used by Hospital Compare, <a href="http://www.hospitalcompare.hhs.gov/" target="_blank">visit the Hospital Compare Website</a>.</p>
            <p><strong>HCAHPS patient experience ratings:</strong> HCAHPS ratings are adjusted for the effects of both mode of survey administration and patient mix</p>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r8'" data-mh-accordion-label="'How do I interpret the hospital quality ratings tables?'" class="resource__toggle"></div>
        <div data-mh-accordion-panel="'r8'" class="resource__toggle-content">
            <p>The ratings tables show quality ratings for hospitals. You can use this information to help you choose a hospital. The best way is to search for patterns in the ratings. Some hospitals do well in all areas. Others do well in some areas but not others. Still others show problems everywhere. Look for these patterns. At the same time, if there is a surgery, medical condition, or health risk that is of particular concern to you, you should give more weight to information related to those concerns.</p>
            <p>Each row shows the ratings for one hospital. To sort rows by hospital, select "Hospital Name." Each column shows the results for one quality rating. To sort the ratings, select a rating name. The ratings tables are divided into tabs that show ratings by type, such as "Results of care" or "Recommended care." A hospital is rated by comparing it to other hospitals. The selection box "Select a comparison group" shows you which group of hospitals you're using for comparison.</p>
            <p>Some hospital ratings are per 100 cases, or per 1,000 cases, or are counts of how many times a procedure or condition has occurred. The information icon for each hospital rating has more information.</p>
        </div>
    </section>
    <section class="resource__sub-content">
        <div data-mh-accordion-toggle="'r9'" data-mh-accordion-label="'What is cost?'" class="resource__toggle">
        </div>
        <div data-mh-accordion-panel="'r9'" class="resource__toggle-content">
            <ul>
                <li>
                    <p><em>Why are health care costs important?</em></p>
                    <p>
                        Most people pay for at least part of their health care themselves. Side-by-side information about cost and quality can help people determine which provider will provide high-quality care at a reasonable cost.
                    </p>
                </li>
                <li>
                    <p><em>What is the relationship between cost and quality?</em></p>
                    <p>
                        Many things affect the cost of health care. Higher costs do not necessarily mean that a provider is offering higher-quality care. You can find a provider who offers high quality care at an affordable cost. Seeing cost and quality information side by side can help people make an informed choice.
                    </p>
                </li>
                <li>
                    <p><em>How are health care costs reported on this website?</em></p>
                    <p>
                        This website shows the average total dollars that a hospital spent for patients who were treated for a particular condition. It is important to note that this is not the same as what a patient or an insurance company might be billed for this type of treatment or procedure. Some patients will require more complicated care than others. Some will use different types of equipment, or stay for longer or shorter amounts of time.
                    </p>
                </li>
                <li>
                    <p><em>How can I use this cost information?</em></p>
                    <p>
                        The costs listed on this website might be more or less than what an individual patient might be charged. People also might be responsible for paying different amounts themselves, depending on what type of health insurance they have. However, looking at the costs can provide useful information about whether a provider charges more or less on average than other providers in the area. Looking at cost along with quality ratings can provide useful information about which providers offer high-value care: good care at a reasonable price.
                    </p>
                </li>
                <li>
                    <p><em>How are cost scores calculated?</em></p>
                    <p>
                        This website calculates the average cost of all patients who were discharged from a hospital after getting treatment for a particular condition. Some people might need more or less care, so not every patient has the same costs. The average does not include cases that are very different from usual treatment, so the cost shown is a good reflection of what costs might be for an average patient.
                    </p>
                </li>
            </ul>
        </div>
    </section>
</div>
