<div class="page-header"><h1>About Health Care Quality</h1></div>
<div class="about-health-care-quality">

  <h2>What is health care quality?</h2>
  <section>
    <p>Health care quality means that patients, doctors, and health care facilities aim  to achieve the best possible results by:</p>
    <ul>
      <li>Doing the right thing (getting you the medicines, tests, and counseling you need)</li>
      <li>Doing it at the right time (when you need them)</li>
      <li>Doing it in the right way (your health care providers using the appropriate test or procedure safely, with no mistakes)</li>
    </ul>
    <p>The Institute of Medicine defines high quality health care as:</p>
    <ul>
      <li><strong>Effective:</strong> Treatment uses scientific knowledge and medical experience to increase the chances of getting the best results, and decrease the chance of getting bad results, including death.</li>
      <li><strong>Safe:</strong> Treatment does not result in medical complications or cause harm to the patient that can be prevented.</li>
      <li><strong>Patient-centered:</strong> Doctors, nurses, and other medical staff treat patients with respect, dignity and compassion, and are responsive to patients' needs, values, and preferences.</li>
      <li><strong>Timely:</strong> Patients get the care they need without harmful delays.</li>
      <li><strong>Efficient:</strong> Treatment does not waste doctors' or patients' time or money.</li>
      <li><strong>Equitable:</strong> The same level of care is available to everyone, including men, women and children of all cultures, incomes, education level, social status or any other characteristic.</li>
    </ul>
  </section>

  <h2>Why should I look at health care quality information?</h2>
  <section>
    <p>Don't people get good care from every medical facility? Here are the facts:</p>
    <ul>
      <li>Not all facilities offer the same quality of care. Some are better than others.</li>
      <li>Even good facilities may not be good at everything. A hospital or nursing home might do a good job caring for people with some health problems but a poorer job caring for people with other health problems. Hospital and nursing home stays can be risky. Whenever you go to the hospital for an existing health problem, or spend time in a nursing home, you risk getting a new health problem. Hospitals and nursing homes vary in how well they protect patients from this risk.</li>
      <li>Good quality health care means more than what your doctor does. Your own doctor may be highly skilled. But health care quality in hospitals and nursing homes also depends on many other staff, such as nurses and physical therapists, and also on how well the hospital is organized.</li>
    </ul>
    <p>You want to get the very best quality possible when you or a loved one needs care. This means making good decisions about your health care. Health care quality information can help you understand the care that is right for you and where you can go to get it.</p>
  </section>

  <h2>What can I do with information about health care quality? How can it help me?</h2>
  <section>
    <p>If you or someone you care about needs health care, you can use quality information to choose a hospital, nursing home or doctor. Quality information can help you:</p>
    <ul>
      <li>Find a hospital that is especially good at treating conditions you face, or especially good at protecting patients from safety risks such as new infections</li>
      <li>Find a nursing home that offers the type of care you need, or avoid nursing homes that fall short on safety or other issues</li>
      <li>Identify a doctor near you who is in your insurance network, and who works with hospitals you trust</li>
    </ul>
    <p>Most doctors, nursing homes and hospitals are happy to talk with patients about quality information from reliable sources such as this website, and they care about your preferences. You certainly have the right to raise issues with them and get answers to your questions. Remember, it's your life and your health.</p>
  </section>


  <h2>Where can I learn more about health care quality?</h2>
  <section>
    <p>If you are interested in learning more about quality care or how to choose a hospital, here are some resources that can help.</p>

    <h3>Hospital Compare - Centers for Medicare & Medicaid Services</h3>
    <ul>
      <li><a href="http://www.hospitalcompare.hhs.gov/" target="_blank">Hospital Compare</a> is a website with quality information on almost all hospitals in the US.</li>
      <li>The Hospital Compare website’s <a href="https://www.medicare.gov/Pubs/pdf/10181.pdf" target="_blank">Hospital Checklist</a> helps you think through a range of issues to consider when choosing a hospital.</li>
    </ul>

    <h3>Physician Compare</h3>
    <p><a href="http://www.medicare.gov/physiciancompare/search.html" target="blank">Physician Compare</a> can help you find a doctor nearby. You can search by specialty, board certification, group practice, and which hospitals the doctor works with, among other topics.</p>

    <h3>Nursing Home Compare</h3>
    <p><a href="http://www.medicare.gov/nursinghomecompare/search.html" target="_blank">Nursing Home Compare</a> collects information about every nursing home in the country that provides care to people who receive Medicare or Medicaid benefits. The website <a href="http://www.medicare.gov/Pubs/pdf/02174.pdf">a detailed guide for choosing a nursing home or other long-term care</a>.</p>


    <h3>Agency for Healthcare Research & Quality (AHRQ)</h3>
    <ul>
      <li><a href="http://archive.ahrq.gov/patients-consumers/diagnosis-treatment/hospitals-clinics/quick/" target="_blank">Quick Checks for Quality: Choosing Quality Health Care</a> is an information sheet about how to find good quality health care.</li>
      <li><a href="http://www.ahrq.gov/consumer" target="_blank">Consumers & Patients</a> provides more links to tools and information for people who want to take an active role in their health care.</li>
    </ul>
    <p>To contact AHRQ by mail write to:</p>
    <addr>
    Agency for Healthcare Research and Quality<br/>
    Office of Communications<br/>
    5600 Fishers Lane, 6th Floor<br/>
    Rockville, MD 20857
    </addr>
    <p>To reach AHRQ by phone, call (301) 427-1364</p>

    <h3>The Joint Commission </h3>
    <p>This organization is the primary group that reviews and accredits hospitals in the United States. The Joint Commission’s’s <a href="http://www.qualitycheck.org/consumer/searchQCR.aspx" target="_blank">Quality Check</a> website tells you which hospitals meet this organization's patient safety and quality standards.</p>
    <p>To reach Joint Commission with a general question, call 630-792-5000.</p>
    <p>To order Joint Commission publications, call 877-223-6866.</p>

    <h3>The Leapfrog Group</h3>
    <p><a href="http://www.leapfroggroup.org" target="_blank">The Leapfrog Group</a> measures hospital performance against national standards for safety, quality and efficiency that are relevant to consumers and purchasers of health care. Hospital participation is voluntary; more than 1400 hospitals participated in The Leapfrog Hospital Survey in 2013, and more than 2500 have received a Hospital Safety Score.</p>

    <h3>Consumer Reports</h3>
    <p><a href="http://www.consumerreports.org/health/doctors-hospitals/hospital-ratings.htm" target="_blank">Consumer Reports</a> releases hospital ratings based on patient safety, patient experience, patient outcomes and other characteristics.</p>
  </section>
</div>

