<div class="page-header"><h1>About Nursing Home Quality</h1></div>
<div class="about-methodology">
  <p>Nursing homes serve different needs, and it’s important to look at how nursing homes in your area perform in the services that matter to you. Nursing home care usually is divided into short-term and long-term stays.
Short-term stay: Some people stay in a nursing home just long enough to get better after a serious illness or injury, typically after they have been in a hospital or rehabilitation center. They might work with therapists to regain strength and independence before going home. Short-term stays usually are less than 100 days long. These residents are expected to get better and go home.
Long-term stay: Nursing homes provide housing, meals, help with daily tasks such as dressing or bathing, and access to nursing and other care around the clock. People in long-term care often have different levels of need for care. For example, they may have different needs in terms of moving around. Some walk on their own; others only with a cane or walker; some must use a wheelchair. They generally stay longer than 100 days, and indeed most long-stay residents remain in a nursing home for the rest of their lives.
Some nursing homes focus on short-term or long-term care, and some excel at both. Since the needs of short-term and long-term residents are quite different, there are some quality ratings just for one category or another. You can find ratings that help you make choices about which nursing homes are the best at the type of care you are looking for.
For more information about nursing homes, visit the Centers for Medicare & Medicaid Services web site,<a href="https://www.medicare.gov/NursingHomeCompare/About/Nursing-Home-Info.html" target="_blank">Nursing Home Compare</a>.</p>

  <h2>What do I do if I have concerns about nursing home quality?</h2>
  <section>
    Each state has a State Survey Agency that regulates all nursing homes in the state. Anyone who is concerned about the care of a nursing home resident may file a complaint. For information about how to contact your state’s agency, visit <a href="http://www.medicare.gov/NursingHomeCompare/Resources/State-Websites.html" target="_blank">Nursing Home Compare</a>.
  </section>

  <!--
    <ul>
      <li><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="t006" ><em>What is health care quality?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="t007" ><em>Why should I look at health care quality information?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="t008" ><em>What can I do with information about health care quality? How can it help me?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="t008a" ><em>What do I do if I have concerns or complaints about quality of care?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()" data-scroll-to="t009" ><em>Where can I learn more about hospital quality?</em></a></li>
    </ul>
    <p><strong>About Hospital Utilization</strong></p>
    <ul>
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t0010" ><em>What is hospital utilization? </em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t0011" ><em>Why should I look at information about hospital utilization and how can it help me?</em></a></li>
    </ul>
    <p><strong>About Avoidable Hospital Stays</strong></p>
    <ul class="clear">
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t0012" ><em>What are avoidable hospital stays?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t0013" ><em>Why should I look at information about avoidable hospital stays and how can it help me?</em></a></li>
    </ul>
    <p><strong>About County Rates of Hospital Use</strong></p>
    <ul>
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t008b" ><em>What are county rates of hospital use?</em></a></li>
      <li><a href="#" data-ng-click="$event.preventDefault()"  data-scroll-to="t0015" ><em>Why should I look at information about county rates of hospital use and how can it help me?</em></a></li>
    </ul>
    <h2>About Hospital Quality</h2>
    <p><a class="unstyledAnchor" id="t006" ><strong><em>What is health care quality?</em></strong></a></p>
    <p>Health care quality means that patients, doctors, and health care facilities aim  to achieve the best possible results by:</p>
    <ul>
      <li>Doing the right thing (getting you the medicines, tests, and counseling you need)</li>
      <li>Doing it at the right time (when you need them)</li>
      <li>Doing it in the right way (your health care providers using the appropriate test or procedure safely, with no mistakes)</li>
    </ul>
    <p><a href="#" target="_blank">The Institute of Medicine</a> defines high quality health care as:</p>
    <ul>
      <li><strong>Effective:</strong> Treatment uses scientific knowledge and medical experience to increase the chances of getting the best results, and decrease the chance of getting bad results, including death.</li>
      <li><strong>Safe:</strong> Treatment does not result in medical complications or cause harm to the patient that can be prevented.</li>
      <li><strong>Patient-centered:</strong> Doctors, nurses, and other medical staff treat patients with respect, dignity and compassion, and are responsive to patients' needs, values, and preferences.</li>
      <li><strong>Timely:</strong> Patients get the care they need without harmful delays.</li>
      <li><strong>Efficient:</strong> Treatment does not waste doctors' or patients' time or money.</li>
      <li><strong>Equitable:</strong> The same level of care is available to everyone, including men, women and children of all cultures, incomes, education level, social status or any other characteristic.</li>
    </ul>
    <p><a class="unstyledAnchor" id="t007" ><strong><em>Why should I look at health care quality information?</em></strong></a></p>
    <p>Don't people get good care in any hospital? Here are the facts: </p>
    <ul>
      <li><strong>Not all hospitals provide the same quality of care. </strong> Some hospitals are better than others.</li>
      <li><strong>Even good hospitals may not be good at everything. </strong> A hospital might do a good job caring for people with some health problems but a poorer job caring for people with other health problems.</li>
      <li><strong>Hospitals stays can be risky. </strong> Whenever you go to the hospital for an existing health problem, you risk getting a new health problem. Hospitals vary in how well they protect patients from this risk.</li>
      <li><strong>Hospital care means more than your physician. </strong> Your own doctor may be highly skilled. But health care quality in hospitals also depends on other staff, such as nurses, and on how well the hospital is organized.</li>
    </ul>
    <p>You want to get the very best care possible when you or a loved one is in the hospital. This means making good decisions about your health care. Health care quality information can help you understand the care that is right for you and where you can go to get it.</p>

    <p><a class="unstyledAnchor" id="t008" ><strong><em>What can I do with information about health care quality? How can it help me?</em></strong></a></p>
    <p>If you or someone you care about expects to be admitted to a hospital in the near future, you can use quality information to <strong>help you choose a hospital.</strong></p>
    <ul>
      <li>It can help you <strong>find a hospital</strong> that is especially good at treating the conditions you face, or especially good at protecting patients from risks. </li>
      <li>It can help you <strong>avoid hospitals</strong> that may not perform well in the ways you care about.</li>
      <li>It can help you <strong>choose between hospitals</strong> that all have good reputations.</li>
    </ul>
    <p>Several other factors also go into making a hospital choice.</p>
    <ul>
      <li>You may have to use the specific hospitals approved by <strong>your health plan.</strong> Look up these hospitals in this report. If you have to go to a hospital whose quality information troubles you, bring the information to your doctor to discuss it. You can ask your doctor to be especially careful to help you avoid problems.</li>
      <li>You can only be admitted to a hospital by <strong>your doctor.</strong> Each doctor can only admit patients at certain hospitals. So when you choose a doctor, you may be choosing a hospital. When your regular doctor refers you to a specialist, ask the question "Where can this specialist admit patients?" Then look up these hospitals in this report. If the information troubles you, bring it back to your doctor. See if you can be referred to a specialist who uses hospitals that perform better.</li>
    </ul>
    <p>Most physicians and hospitals are happy to talk with patients about information from reliable sources, and they care about your preferences. You certainly have the right to raise issues with them and get answers to your questions. Remember, it's your life and your health.</p>

    <p><a class="unstyledAnchor" id="t008a" ><strong><em>What do I do if I have concerns or complaints about quality of care?</em></strong></a></p>
    <p>If you have a complaint about the quality of the medical care you or a loved one received at a hospital, there are several things you can do.</p>
    <ul>
      <li>First, contact the hospital's <strong>patient advocate</strong> or patient representative. You can usually reach the patient advocate through the hospital's telephone operator. Every hospital is required to have patient advocates. Their job is to help resolve patient concerns or complaints. They will listen to you, explain and provide information, and help resolve any disputes. They can help you resolve issues during your hospital stay and can help you identify the services you need after your stay.</li>
      <br>
      <li>If you still need help, you can contact two agencies in every state that work on hospital quality:
      <ul>
        <li><strong>The State Quality Improvement Organization,</strong> or QIO. This is the organization to contact if you are not satisfied after calling the hospital's patient advocate.</li>
        <li><strong>The State Survey Agency.</strong> This is the organization to contact if you have other complaints about a health care facility.</li>
      </ul>
      <p>Contact information for your state’s Quality Improvement Organization and State Survey Agency can be found at <a href="http://www.medicare.gov/Contacts" >http://www.medicare.gov/Contacts</a>. You can visit the websites for your state’s agencies to find additional information about hospitals in your state.</p></li>
      <li>You can also contact the <strong>Complaint Hotline at the Joint Commission on the Accreditation of Health care Organizations</strong> (JCAHO). This organization is the primary group that reviews and accredits hospitals in the United States.
      <br>Phone: 1-800-994-6610
      <br>E-mail: complaint@jointcommission.org. </li>
    </ul>

    <p><a class="unstyledAnchor" id="t009" ><strong><em>Where can I learn more about health care quality?</em></strong></a></p>
    <p>If you are interested in learning more about quality care or how to choose a hospital, here are some resources that can help. </p>
    <p><strong>Hospital Compare - Department of Health and Human Services</strong>
    </p><ul>
    <li><a href="http://www.hospitalcompare.hhs.gov/" >Hospital Compare</a> is a website with quality information on almost all hospitals in the US.</li>
    <li>The Hospital Compare website’s <a href="http://www.medicare.gov/Publications/Pubs/pdf/10181.pdf" >Hospital Checklist</a> helps you think through a range of issues to consider when choosing a hospital.</li>
  </ul>
  <p><strong>Agency for Health care Research &amp; Quality (AHRQ)</strong>
  </p><ul>
  <li><a href="http://www.ahrq.gov/consumer/quick.htm" >Quick Checks for Quality: Choosing Quality Health Care </a>is an information sheet about how to find good quality health care. </li>
  <li><a href="http://www.ahrq.gov/consumer" >Consumers &amp; Patients </a>provides more links to tools and information for people who want to take an active role in their health care. </li>
  <br>To contact AHRQ by mail write to:
  <br>Agency for Healthcare Research and Quality
  <br>Office of Communications and Knowledge Transfer
  <br>540 Gaither Road, Suite 2000
  <br>Rockville, MD 20850
  <br>To reach AHRQ by phone, call (301) 427-1364
        </ul>
        <p><strong>Joint Commission on the Accreditation of Health care Organizations (JCAHO)</strong>
        </p><p>This organization is the primary group that reviews and accredits hospitals in the United States.</p>
        <ul>
          <li>The JCAHO’s<a href="http://www.qualitycheck.org/consumer/searchQCR.aspx" > Quality Check </a>website tells you which hospitals meet this organization's patient safety and quality standards.</li>
          <br>To reach JCAHO with a general question, call 630-792-5000.
          <br>To order JCAHO publications, call 877-223-6866.
        </ul>
        <br>
        <h2>About Hospital Utilization</h2>

        <p><a class="unstyledAnchor" id="t0010" ><strong><em>What is hospital utilization?</em></strong></a></p>
        <p>Hospital utilization means use of hospital services. It includes information on:</p>
        <ul>
          <li><strong>Number of hospital stays.</strong> A hospital stay means that you are admitted into the hospital and stay for at least one night. One person may have multiple hospital stays in a year, and each stay will be counted separately in the rate you see.</li>
          <li><strong>Length of hospital stays.</strong> This is the number of days a person spends in the hospital during one hospital stay.</li>
          <li><strong>Charges for hospital stays.</strong> Charges are what a hospital bills or asks to be paid for services.</li>
          <li><strong>Costs for hospital stays.</strong> Costs shown are the estimated costs to a hospital for services performed since the actual values are not available. Costs are calculated using available charge data and information—specifically, <a href="www.hcup-us.ahrq.gov/db/state/costtocharge.jsp" target="_blank">cost-to-charge ratios</a>—from hospital accounting reports from the Centers for Medicare and Medicaid Services (CMS).</li>
          <li><strong>Cost savings.</strong> Cost savings are an estimate of dollars saved if avoidable hospital stays were reduced by 10, 20, 30, 40, or 50%.  Cost savings are based on charges that have been adjusted to costs using hospital-specific cost-to-charge ratios.</li>
        </ul>


        <p><a class="unstyledAnchor" id="t0011" ><strong><em>Why should I look at information about hospital utilization and how can it help me?</em></strong></a></p>
        <p>You may be interested in a specific medical condition or procedure and would like to get details. For example, you or a loved one may need hip replacement surgery. You may want to look at:</p>
        <ul>
          <li>Numbers of hip replacement surgeries done at hospitals in your area. You may want to choose a hospital that performs many hip replacements, because hospitals that do these procedures more often may do them better.</li>
          <li>Length of stay information for hip replacement surgeries. This will give you an idea of how long you might stay in the hospital.</li>
          <li>Charges and costs for hip replacement surgeries. This will give you an idea of how much you and your health plan might be charged for the stay (although your out-of-pocket cost depends on your health plan).</li>
        </ul>



        <h2>About Avoidable Hospital Stays</h2>

        <p><a class="unstyledAnchor" id="t0012" ><strong><em>What are avoidable hospital stays?</em></strong></a></p>
        <p>An avoidable hospital stay is one that might have been avoided with better medical care outside of the hospital. For example, a diabetes patient who receives good care from her primary care physician might not need a hospital stay for diabetes complications. Hospital stays like these are not always avoidable, but they are potentially avoidable with good quality health care.</p>
        <p>Information about avoidable hospital stays is about communities, not hospitals. It is based on where patients live, not on where hospitals are located. High rates of avoidable hospital stays can point to possible breakdowns in health care in the community.</p>

        <p><a class="unstyledAnchor" id="t0013" ><strong><em>Why should I look at information about avoidable hospital stays and how can it help me?</em></strong></a></p>
        <p>This information can be used by policy makers and public health workers. It can help them identify areas that might have problems with outpatient care and what types of problems these are. The information includes estimates of cost savings if you reduce avoidable hospital stays by 10%, 20%, 30% or more. This can help motivate efforts to improve community health care and reduce avoidable hospital stays.</p>

        <h2>About County Rates of Hospital Use</h2>

        <p><a class="unstyledAnchor" id="t008b" ><strong><em>What are county rates of hospital use?</em></strong></a></p>
        <p>The county rates show use of hospital services by county, based on where patients live. County rates include information on:</p>
        <ul>
          <li><strong>Number of hospital stays.</strong> A hospital stay means that you are admitted into the hospital and stay for at least one night. One person may have multiple hospital stays in a year, and each stay will be counted separately in the rate you see. County rates show the number of stays for each 100,000 people who live in the county.</li>
          <li><strong>Charges for hospital stays.</strong> Charges are what a hospital bills or asks to be paid for services.</li>
          <li><strong>Costs for hospital stays.</strong> Costs shown are the estimated costs to a hospital for services performed since the actual values are not available. Costs are calculated using available charge data and information—specifically, cost-to-charge ratios—from hospital accounting reports from the Centers for Medicare and Medicaid Services (CMS).</li>
        </ul>

        <p><a class="unstyledAnchor" id="t0015" ><strong><em>Why should I look at information about county rates of hospital use and how can it help me?</em></strong></a></p>
        <p>This information can be used by policy makers and public health workers. It can help them identify areas whose residents have high rates of hospital use for particular conditions and procedures. The information is reported by county based on the patient’s residence, not the hospital location. It tells you, for example, the county of origin for patients with lung cancer or for patients receiving back surgery. This information can help motivate efforts to address the causes of particular medical problems such as cancer, injury, or infections.</p>
        -->
</div>
