<div class="clearfix">
  <div class="col-xs-3">
    <img alt="AHRQ Monahrq Logo" src="themes/base/assets/monahrq-logo.png" /><br /><br />
    <p>AHRQ's mission is to produce evidence to make health care safer, higher quality, more accessible, equitable, and affordable, and to work with the U.S. Department of Health and Human Services (HHS) and other partners to make sure that the evidence is understood and used.</p>
  </div>
  <div class="col-xs-7">
    <br /><br />
    <h2 class="title">About Us</h2>
    <div data-ng-bind-html="pgAboutUs.footerContent"></div>
  </div>
  <div class="col-xs-2">
    <br /><br />
    <h2 class="title">Sitemap</h2>
    <div data-mh-menu="professionalMenu" data-nav-class="'nav--footer'" data-nav-depth="1" data-nav-ignore-classes="true"></div>
  </div>
  <div class="col-xs-12">
    <p>Version: {{VERSION}}</p>
  </div>
</div>

