<div class="page-header"><h1>About the Methodology</h1></div>
<div class="about-methodology">
  <h2>What are the nursing home quality ratings?</h2>
  <section>
    <p>To achieve the best possible results, health care quality is:</p>
    <ul>
      <li>Doing the right thing (getting the medicines, tests, and  help you need),</li>
      <li>Doing it at the right time (when you need them), and</li>
      <li>Doing it in the right way (with your health care providers using the methods).</li>
    </ul>
    <p>Quality ratings are based on information from two sources:  (1) health and safety inspections conducted by a state agency at least once a year in each nursing home;
      and (2) regular assessments nursing homes conduct that cover residents’ health, physical functioning, mental status and general well-being. The monthly assessment
      information must be reported to the federal government by the nursing homes, along with information about how many staff they have working.  For more information,
      visit <a href="http://www.medicare.gov/nursinghomecompare/Data/Data-Sources.html" target="_blank">Nursing Home Compare</a>, a website run by the Centers for Medicare & Medicaid Services (CMS)
      that collects and reports nursing home quality information.</p>
  </section>

  <h2>How do I select nursing homes to compare?</h2>
  <section>
    <p>You can select nursing homes in several ways:</p>
    <ul>
      <li>By nursing home: Select one or more nursing home names from the dropdown list.</li>
      <li>By ZIP code: Enter a ZIP Code and a distance in miles. Then select one or more nursing homes in that area from the dropdown list.</li>
      <li>By Type -  Select Medicare or Medicaid or Both</li>
      <li>By Overall Rating  -  Select star ratings</li>
      <li>By “In Hospital” – Select if the Nursing Home is in the Hospital or standalone</li>
    </ul>
  </section>

  <h2>How did we analyze this information?</h2>
  <section>
    MONAHRQ itself does not analyze information to calculate quality measures’ rates. Quality measures with pre-calculated rates from multiple sources of information can be imported to MONAHRQ.
    These rates are compared with national and state benchmarks in this report. Nursing home information on MONAHRQ is obtained from the federal Centers for Medicare & Medicaid Services (CMS) Nursing
    Home Compare ratings. The ratings are calculated by CMS using information that individual nursing homes provide to them.  For more information on the methods used by Nursing Home Compare, visit
    the <a href="http://www.medicare.gov/NursingHomeCompare/About/HowWeCalculate.html" target="_blank">Nursing Home Compare website</a>.
  </section>

  <h2>How are the quality ratings assigned?</h2>
  <section>
    <p>Nursing Home Compare assigns 5-star ratings based on three types of information: health and safety inspections, quality measures, and staffing. More stars means better quality. The overall star
    rating for an individual nursing home begins with a nursing home’s health inspection rating.  Stars are then added or subtracted based on ratings of quality and staffing. For more information,
    visit <a href="http://www.medicare.gov/NursingHomeCompare/About/HowWeCalculate.html" target="_blank">Nursing Home Compare</a>.</p>
    <ul>
      <li>Health and safety inspection ratings: These ratings are assigned by outside surveyors who visit each nursing home and look at all aspects of their operation. Nursing homes in different states may have different standards, so it’s best to compare nursing homes within one state.</li>
      <li>Quality rating: These rate how well nursing homes help residents keep their ability to dress, eat and other tasks, and how well the nursing home prevents health problems that could be avoided. These data are reported by each nursing home and compared on a national level.</li>
      <li>Overall Staff Availabile: This rating compares the number of staff to the number of residents. Ratings cover nurses with different levels of training, as well as physical therapists. This information is reported by the nursing home based on actual availability of staff during a two-week period each year.</li>
    </ul>
    <h2>Other Information Sources</h2>
      <p>
          <ul>
              <li>Nursing Home Family Survey Results: In addition to information from Nursing Home Compare, this website adds another kind of information. Some nursing homes offer their residents a better experience than others. These ratings are the results of the Nursing Home CAHPS - Family Member Survey. The survey is filled out by adult family members of nursing home residents who have stayed in the nursing home for longer than 100 days. The survey asks the family members about their experiences with care and services at the nursing home.</li>
          </ul>
      </p>
    <p>CMS provides the raw facility scores in all 3 rating domains used to calculate star ratings: survey, staffing, and quality. A method that assigns percentiles based on raw scores is used to rank and compare nursing homes within peer groups in all three domains.</p>
  </section>


  <h2>How are Nursing Homes state or regional ratings calculated?</h2>
  <section>
    <p>The national level nursing home comparison 5 star ratings in MONAHRQ use ratings from CMS’s Nursing Home Compare database. However, the peer level ratings are computed in MONAHRQ. For peer-level comparison, the nursing homes are compared against others in the state or county in which they are located using the absolute percentile method. The absolute percentile method creates a number of different means of comparison among nursing homes, along with comparisons to a peer group and state average.</p>
    <ul>
      <li>The top and bottom 10% of nursing homes are “Much Better than Average” and “Much Below Average,” respectively</li>
      <li>The middle 80% are divided evenly with ⅓ each included in the “Below Average,” “Average,” and “Better than Average” groupings</li>
      <li>The top 10% and bottom 10% are used as cut points to mirror the cut points used in MONAHRQ for comparing hospitals for some of CMS Hospital Compare measures, such as Patient Experience and Process measures</li>
      <!--<li>This methodology is applied across all three domains – Quality, Health Inspection, and Staffing</li>
      <li>MONAHRQ computes the domain level summary scores at the peer level; however, the overall score (rollup of all three domains) is not computed at the peer level</li>-->
    </ul>
     <p>All three rating sections -- Quality, Health Inspection, and Overall Staff Available – are scored this way. MONAHRQ computes the domain level summary scores at the peer level; however, the overall score (rollup of all three domains) is not computed at the peer level</p>
  </section>
    <h2>Nursing Home CAHPS</h2>
    <p>Each of the composite measure ratings is creating by scoring the responses to each question, or assigning a numeric value to each response. For example, in a yes/no question, a “no” can be given a value of 0 and yes a value of 1. The values of the responses to each individual question are totaled to create the value for the composite measure.</p>
    <p>The value of each composite measure is graded like on a test, where the result can be from 0 to 100. A star rating for the composite measure is assigned based on the final result:</p>
    <ul>
        <li>5 stars is a value of 91 to 100, or the top 10% of all results</li>
        <li>4 stars is a value from 64 to 90</li>
        <li>3 stars is a value from 37 to 63</li>
        <li>2 stars is a value from 11 to 36</li>
        <li>1 star is assigned to scores 10 and below, or the bottom 10% of all results</li>
    </ul>
    <p>If there are fewer than 20 responses to questions that can be used for a composite measure, the result is not calculated.</p>
    <p>There are five composite measures that are combined to get an overall rating for the survey. They are added together and then divided by the number of composite measures to get an overall score from 0 to 100, which is then assigned an overall star rating. The ratings are assigned in the same way as the composite measures.</p>
    <p>If one of the composite measures has fewer than 20 responses and could not be calculated, the overall rating is made up of the remaining composite measures and then divided by the number that were used.</p>

  <h2>How do I interpret the nursing home quality ratings tables?</h2>
  <section>
    <p>The ratings tables show quality ratings for nursing homes. You can use this information to help you choose a nursing home. The best way is to search for patterns in the ratings. Some nursing homes do well in all areas. Others do well in some areas but not others. Still others show problems everywhere. Some do well with short-stay patients, others are best for long-stay patients, and some are good choices for either type of patient. Look for these patterns. At the same time, if there is an aspect of nursing home care or a health or safety risk that is of particular concern to you, you should give more weight to information related to those concerns.</p>
    <p>You can switch your comparison view to compare nursing home at the national, state/peer, and county level.</p>
    <p>You can also compare up to five(5) nursing homes. The ratings tables are divided into sections that show ratings by three domains: Health Inspection, Quality, and Staffing. A nursing home is rated by comparing it to other nursing homes and to national or state/peer or county.</p>
    <p>More details on individual measures rates within each domain can be found in nursing home profile report.</p>
  </section>
</div>
