<div class="page-header"><h2>Site Map</h2></div>
<div class="about-methodology">
  <p><a data-ui-sref="top.professional.quality-ratings" name="skiptoTarget" tabindex="21">Hospital Quality Ratings</p>
  <ul>
    <li>Choose hospitals to compare</li>
    <li>Select the health topic of interest</li>
  </ul>
  <p><a data-ui-sref="top.professional.usage-data.service-use({viewBy:'hospital'})" tabindex="22">Hospital Utilization Statistics for Health Conditions and Procedures</a></p>
  <ul>
    <li>Choose hospitals to display</li>
    <li>Select the health condition or procedure</li>
  </ul>
  <p><a data-ui-sref="top.professional.usage-data.avoidable-stays" tabindex="23">Avoidable Hospital Stays (by county)</a></p>
  <ul>
    <li>Select Quality Indicator for a Map of Avoidable Hospitalizations</li>
    <li>Summary Table</li>
    <li>All Maps</li>
    <li>All Summary Tables</li>
  </ul>
  <p><a data-ui-sref="top.professional.usage-data.service-use({viewBy:'population'})" tabindex="24">County Rates of Health Conditions and Procedures</a></p>
  <ul>
    <li>Choose county to display</li>
    <li>Select the health condition or procedure</li>
  </ul>
</div>
