<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MAIN" connectionString="Data Source=(local);Initial Catalog=MONAHRQ731;Integrated Security=True;Persist Security Info=True;Pooling=True;Max Pool Size=40;Asynchronous Processing=True;Application Name=Monahrq.vshost;ApplicationIntent=ReadOnly"/>
  </connectionStrings>
  
  <appSettings>
    <add key="reportDir" value="C:\Users\jduffus\Documents\Monahrq\Websites\IPGen-Issue\Data\InpatientUtilization"/>
    <add key="websiteID" value="7"/>
    <add key="ContentItemRecord" value="17"/>
    <add key="Suppression" value="0"/>
    <add key="RegionType" value="HospitalServiceArea_Id"/><!--CustomRegion_Id-->
    <add key="ReportYear" value="2015"/>
    <add key="ReportQuarter" value="1|2|3|4"/>
    <add key="ApplyOptimization" value="0"/>
    <add key="Timeout" value="30000"/>

    <add key="DRG_SQL" value=" 
declare @y AS NVARCHAR(4)
set @y=(SELECT MAX(Year) FROM Base_CostToCharges)

declare @yDRG AS NVARCHAR(4)
set @yDRG=(SELECT MAX(Year) FROM Base_CostToChargeToDRGs)

------- meta info -----

select COUNT(IP.[Id])
FROM Targets_InpatientTargets AS IP 
    LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID  AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
		LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
		LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																			WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																			ELSE @y
																			END)
		LEFT JOIN Base_CostToChargeToDRGs as DRGCTC ON DRGCTC.DRGID=IP.DRG and DRGCTC.Year=(CASE
																			WHEN (Select top 1 ctc3.[Year] FROM [Base_CostToChargeToDRGs] ctc3 WHERE ctc3.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																			ELSE @yDRG
																			END)
where IP.DRG IS NOT NULL AND
                    wh.Website_Id=[websiteID] AND
                    IP.[Dataset_Id] =[ContentItemRecord]

------- DRG -------

            SELECT 
	            Hosp.Id AS HospitalID,
	            ISNULL(County.Id, -1) AS CountyID,
	            ISNULL(IP.DRG, 999) AS UtilID,
	            CASE WHEN (18 >IP.Age ) THEN 1
                        WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
                        WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
                        WHEN (IP.Age >= 65) THEN 4
                        ELSE 0
                END AS Age, ISNULL(Race.Id, 0) AS Race, ISNULL(Sex.Id, 0) AS Sex, ISNULL(Payer.Id, 0) AS PrimaryPayer,
                (CASE
			WHEN ISNUMERIC(ISNULL(IP.[LengthOfStay],0)) != 1 THEN 0
			ELSE ISNULL(IP.[LengthOfStay],0)
		 END) AS LengthOfStay, IP.TotalCharge AS TotalCharge
				,ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio)  * ISNULL(DRGCTC.Ratio,1) *  IP.TotalCharge AS TotalCost,
				ISNULL(IP.DischargeQuarter, 0) as DischargeQuarter
            FROM Targets_InpatientTargets AS IP
             LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
            LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID  AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    	          LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
            LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
            LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
            LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
            LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
            LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
            LEFT JOIN Base_CostToChargeToDRGs as DRGCTC ON DRGCTC.DRGID=IP.DRG and DRGCTC.Year=(CASE
																			WHEN (Select top 1 ctc3.[Year] FROM [Base_CostToChargeToDRGs] ctc3 WHERE ctc3.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																			ELSE @yDRG
																			END)
            WHERE IP.DRG IS NOT NULL AND
                    wh.Website_Id=[websiteID]  AND
                    IP.[Dataset_Id] =[ContentItemRecord]
					         " />

    <add key="MDC_SQL" value="
declare @y AS NVARCHAR(4)
set @y=(SELECT MAX(Year) FROM Base_CostToCharges)
------- meta info -----

select count(ip.[ID]) 
from Targets_InpatientTargets AS IP 
 LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID  AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
where 
wh.Website_Id=[websiteID] AND
IP.[Dataset_Id] =[ContentItemRecord]
------ MDC    ----------------------
SELECT 
		Hosp.Id AS HospitalID,
    ISNULL(County.Id, -1) AS CountyID,
		case when(ISNULL(IP.MDC,0)=0) then 99 else IP.MDC end AS UtilID,
		CASE WHEN (18 > IP.Age) THEN 1
				WHEN (IP.Age >= 18 AND 44>= IP.Age ) THEN 2
				WHEN (IP.Age >= 45 AND 64>=IP.Age ) THEN 3
				WHEN (IP.Age >= 65) THEN 4
				ELSE 0
		END AS Age,
		ISNULL(Race.Id, 0) AS Race,
		ISNULL(Sex.Id, 0) AS Sex,
		ISNULL(Payer.Id, 0) AS PrimaryPayer,
		(CASE 
			WHEN ISNUMERIC(ISNULL(IP.[LengthOfStay],0)) != 1 THEN 0
			ELSE ISNULL(IP.[LengthOfStay],0)
		 END) AS LengthOfStay,
		IP.TotalCharge AS TotalCharge,
    CAST(ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) as FLOAT)  * IP.TotalCharge AS TotalCost,
		ISNULL(IP.DischargeQuarter, 0) as DischargeQuarter
FROM Targets_InpatientTargets AS IP
    LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID  AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
WHERE --IP.MDC IS NOT NULL AND
      wh.Website_Id=[websiteID] AND
		  IP.[Dataset_Id] =[ContentItemRecord]
         "/>
    <add key="CCS_SQL" value="
declare @y AS NVARCHAR(4);
set @y=(SELECT MAX(Year) FROM Base_CostToCharges);

declare @yDXCCs AS NVARCHAR(4)
set @yDXCCs=(SELECT MAX(Year) FROM Base_CostToChargeToDXCCs)

------- meta info -----
------- icd crosswalk -----
; with ICD9toDXCCSCrosswalk (DXCCSID, ICDID, ICDCodeType) as
(
	    select  DXCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toDXCCSCrosswalks
  union all
	    select  DXCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toDXCCSCrosswalks
)

SELECT COUNT( IP.[Id]) 
FROM Targets_InpatientTargets AS IP
	LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
	  LEFT JOIN ICD9toDXCCSCrosswalk AS DXCCS ON IP.PrincipalDiagnosis = DXCCS.ICDID AND IP.ICDCodeType = DXCCS.ICDCodeType
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
    LEFT JOIN Base_CostToChargeToDXCCs AS DXCCSCTC ON DXCCS.DXCCSID = DXCCSCTC.DXCCSID and DXCCSCTC.Year=(CASE
																				WHEN (Select top 1 ctc3.[Year] FROM [Base_CostToChargeToDXCCs] ctc3 WHERE ctc3.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @yDXCCs
																				END)
	WHERE DXCCS.DXCCSID IS NOT NULL AND
			wh.Website_Id=[websiteID]  AND
			IP.[Dataset_Id] =[ContentItemRecord]

----- ccs ------------------
------- icd crosswalk -----
; with ICD9toDXCCSCrosswalk2 (DXCCSID, ICDID, ICDCodeType) as
(
	  select  DXCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toDXCCSCrosswalks
union all
	  select  DXCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toDXCCSCrosswalks
)
SELECT 
	
		Hosp.Id AS HospitalID,
    ISNULL(County.Id, -1) AS CountyID,
		DXCCS.DXCCSID AS UtilID,
		CASE WHEN (18 > IP.Age ) THEN 1
				WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
				WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
				WHEN (IP.Age >= 65) THEN 4
				ELSE 0
		END AS Age,
		ISNULL(Race.Id, 0) AS Race,
		ISNULL(Sex.Id, 0) AS Sex,
		ISNULL(Payer.Id, 0) AS PrimaryPayer,
		(CASE 
			WHEN ISNUMERIC(ISNULL(IP.[LengthOfStay],0)) != 1 THEN 0
			ELSE ISNULL(IP.[LengthOfStay],0)
		 END) AS LengthOfStay,
		IP.TotalCharge AS TotalCharge,
		ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) * ISNULL(DXCCSCTC.Ratio,1) *  IP.TotalCharge  AS TotalCost,
    ISNULL(IP.DischargeQuarter, 0) as DischargeQuarter
FROM Targets_InpatientTargets AS IP
    LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
	  LEFT JOIN ICD9toDXCCSCrosswalk2 AS DXCCS ON IP.PrincipalDiagnosis = DXCCS.ICDID AND IP.ICDCodeType = DXCCS.ICDCodeType
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
    LEFT JOIN Base_CostToChargeToDXCCs AS DXCCSCTC ON DXCCS.DXCCSID = DXCCSCTC.DXCCSID and DXCCSCTC.Year=(CASE
																				WHEN (Select top 1 ctc3.[Year] FROM [Base_CostToChargeToDXCCs] ctc3 WHERE ctc3.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @yDXCCs
																				END)
	WHERE DXCCS.DXCCSID IS NOT NULL AND
			wh.Website_Id=[websiteID]  AND
			IP.[Dataset_Id] =[ContentItemRecord]
         "/>
    <add key="PRCCS_SQL" value="       
declare @y AS NVARCHAR(4);
set @y=(SELECT MAX(Year) FROM Base_CostToCharges);

------- meta info -----
------- icd crosswalk -----
; with ICDtoPRCCSCrosswalk (PRCCSID, ICDID, ICDCodeType) as
(
	  select  PRCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toPRCCSCrosswalks
union all
	  select  PRCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toPRCCSCrosswalks
)

SELECT COUNT(IP.Id) 
FROM Targets_InpatientTargets AS IP
	 LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
	  LEFT JOIN ICDtoPRCCSCrosswalk AS PRCCS ON IP.PrincipalProcedure = PRCCS.ICDID AND PRCCS.ICDCodeType = IP.ICDCodeType
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
WHERE PRCCS.PRCCSID IS NOT NULL AND
		wh.Website_Id=[websiteID]  AND
		IP.[Dataset_Id] =[ContentItemRecord]
      
------ PRCCS-----
------- icd crosswalk -----
; with ICDtoPRCCSCrosswalk2 (PRCCSID, ICDID, ICDCodeType) as
(
	  select  PRCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toPRCCSCrosswalks
union all
	  select  PRCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toPRCCSCrosswalks
)
SELECT 
		Hosp.Id AS HospitalID,
    ISNULL(County.Id, -1) AS CountyID,
		PRCCS.PRCCSID AS UtilID,
		CASE WHEN (18 > IP.Age ) THEN 1
				WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
				WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
				WHEN (IP.Age >= 65) THEN 4
				ELSE 0
		END AS Age,
		ISNULL(Race.Id, 0) AS Race,
		ISNULL(Sex.Id, 0) AS Sex,
		ISNULL(Payer.Id, 0) AS PrimaryPayer,
		(CASE 
			WHEN ISNUMERIC(ISNULL(IP.[LengthOfStay],0)) != 1 THEN 0
			ELSE ISNULL(IP.[LengthOfStay],0)
		 END) AS LengthOfStay,
		IP.TotalCharge AS TotalCharge,
		cast(ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) as FLOAT) *  IP.TotalCharge AS TotalCost,
    ISNULL(IP.DischargeQuarter, 0) as DischargeQuarter
FROM Targets_InpatientTargets AS IP
    LEFT JOIN Wings_Datasets AS WD ON WD.[Id] = IP.[Dataset_Id]
		LEFT JOIN Hospitals AS Hosp ON IP.LocalHospitalID = Hosp.LocalHospitalID AND Hosp.IsArchived=0 AND Hosp.IsDeleted=0
    LEFT JOIN Base_Counties AS County ON County.CountyFIPS = Hosp.County
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id
	  LEFT JOIN ICDtoPRCCSCrosswalk2 AS PRCCS ON IP.PrincipalProcedure = PRCCS.ICDID AND PRCCS.ICDCodeType = IP.ICDCodeType
		LEFT JOIN Base_Races AS Race ON ISNULL(IP.Race, 0) = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON ISNULL(IP.PrimaryPayer, 0) = Payer.id
		LEFT JOIN Base_CostToCharges as ctc on  Hosp.CmsProviderID=ctc.ProviderID and ctc.Year=(CASE
																				WHEN (Select top 1 ctc2.[Year] FROM [Base_CostToCharges] ctc2 WHERE ctc2.[Year]= WD.[ReportingYear]) is not null Then WD.[ReportingYear]
																				ELSE @y
																				END)
WHERE PRCCS.PRCCSID IS NOT NULL AND
		wh.Website_Id=[websiteID]   AND
		IP.[Dataset_Id] =[ContentItemRecord]
         "/>
<!--Bug 4360 - SQL Statement changed to Join Base_Counties table and extract CountyID-->
       <add key="HospitalRegion_SQL" value="            
SELECT  h.Id, ISNULL(ISNULL(h.CustomRegion_Id, [RegionType]), - 1) AS region_id, 
	      ISNULL(h.County, -1) as CountyFIPS, h.Zip, ISNULL(Base_Counties.Id, -1) AS County
FROM Hospitals AS h 
  LEFT JOIN Base_Counties ON h.County = Base_Counties.CountyFIPS 
  LEFT JOIN Websites_WebsiteHospitals AS WH ON h.Id = WH.Hospital_Id
WHERE (WH.Website_Id = [websiteID]) 
  AND (h.IsArchived = 0) AND (h.IsDeleted = 0);
         "/>
    <!--SELECT  h.Id, ISNULL(ISNULL(h.CustomRegion_Id, [RegionType]), - 1) AS region_id, 
	h.County as CountyFIPS, h.Zip, Base_Counties.Id AS County
FROM    Hospitals AS h INNER JOIN
            Base_Counties ON h.County = Base_Counties.CountyFIPS LEFT OUTER JOIN
            Websites_WebsiteHospitals AS WH ON h.Id = WH.Hospital_Id
WHERE (WH.Website_Id = [websiteID]) AND (h.IsArchived = 0) AND (h.IsDeleted = 0)-->
    
    <add key="HospitalCategory_SQL" value="

  SELECT h.[Id]
      ,ISNULL([Category_Id],-1) 'Category_Id'
  FROM Hospitals as h
  left join  [Hospitals_HospitalCategories] hc  on h.id=hc.Hospital_Id  AND h.IsArchived=0 AND h.IsDeleted=0
  LEFT JOIN Websites_WebsiteHospitals as WH ON h.Id=wh.Hospital_Id
WHERE wh.Website_Id=[websiteID]

                  --SELECT hc.[Hospital_Id]
     -- ,[Category_Id]
  --FROM [Hospitals_HospitalCategories] hc
 --left join  Hospitals as h  on h.id=hc.Hospital_Id  AND h.IsArchived=0 AND h.IsDeleted=0
-- LEFT JOIN Websites_WebsiteHospitals as WH ON h.Id=wh.Hospital_Id
         "/>
    <add key="IPNationalTotals_SQL" value="
         SELECT[DRGID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsDRGs]
  where region=0

  SELECT [MDCID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsMDCs]
  where region=0

  SELECT [DXCCSID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsDXCCs]
  where region=0

  SELECT [PRCCSID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsPRCCs]
  where region=0

         
         "/>
  </appSettings>
  
</configuration>