<div class="report--content">
  <div ng-repeat="marker in mapModel.markers" ui-map-marker="mapModel.markers[$index]" ui-event="{'map-mouseover': 'openMarkerInfo(marker)'}"></div>

  <div ui-map-info-window="infoWindow" class="clearfix">
    <div class="info_window__wrapper">
      <h2>{{mapModel.currentMarkerData.name}}</h2>
      <p class="info__window__adr">{{mapModel.currentMarkerData.address}}</p>
      <p data-ng-if="mapModel.currentMarkerData.rating" class="info__window__rating"><strong class="col-md-6">{{overallMeasureTitle}}</strong> <span class="info__window__rating col-md-6" data-mh-rating-symbol="mapModel.currentMarkerData.rating"></span></p>
      <p><a href="#" data-ui-sref="^.profile({id: mapModel.currentMarkerData.id})">View Profile</a></p>
    </div><!-- /.inf__wrapper -->
  </div>

  <div class="map large">
      <div data-ng-if="!config.DE_IDENTIFICATION" data-ui-map="mapModel.map" data-ui-options="mapOptions" class="map-canvas"></div>
      <div data-ng-if="config.DE_IDENTIFICATION" class="map-canvas">
        <img src="themes/professional/assets/demo-map.png">
      </div>
    </div>
  </div>
  <p data-ng-if="config.DE_IDENTIFICATION" style="text-align:center">* For demonstration purposes, this is a static map based on fabricated data. A non-demonstration website will use an interactive map.</p>

</div>
