// ------------------------------------------------------------------- //
//  Button Normalization
//
//  General styles to better standardize / simplify default <button>
//  elements.
// ------------------------------------------------------------------- //

#{$all-button-inputs} {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  padding: ($base-spacing / 2) $base-spacing;
  border: 0;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}





// -------------------------------------------------------------------- //
//  Overall Buttons

%btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: $base-border-radius;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .3s;

  &.disabled {
    cursor: default;
  }
}



// -------------------------------------------------------------------- //
//  Primary Buttons

.btn--primary {
  @extend %btn;
  padding: 12px 15px;
  font-size: 18px;
}



// -------------------------------------------------------------------- //
//  Secondary Buttons

.btn--secondary {
  @extend %btn;
}



// -------------------------------------------------------------------- //
//  Tertiary Buttons

.btn--tertiary {
  @extend %btn;
  background: #eee;
  color: #777;

  &:hover,
  &:focus {
    background: #ddd;
    color: #777;
  }
}



// -------------------------------------------------------------------- //
//  Text Link

.text-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 10px;
    background-image: url("../assets/images/monahrq-sprite.png");
    background-position: -119px -25px;
  }
}



// -------------------------------------------------------------------- //
//  Help Buttons

[data-mh-help-icon] {
  padding-right: 0;

  .help-label {
    display: none;
  }

  .help-icon {
    position: static;
    display: inline;
    margin: 0;

    // Pro override (Glyphicon class)
    span {
      top: 0;
      width: auto;
      margin: 0;
      color: #fff;
      font-size: inherit;
      font-weight: 900;
      line-height: .5;

      &::before {
        content: "i";
        font-family: serif;
        text-align: left;
      }
    }
  }

  // Reset button styles
  .btn-link {
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: #666;
    border: 0;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
  }
}



// -------------------------------------------------------------------- //
//  Cost For Care

.cost-for-care {
  display: block;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
