// ------------------------------------------------------------------- //
//  Table Normalization
// ------------------------------------------------------------------- //

table {
  width: 100%;
  margin: ($base-spacing / 2) 0;
  border-collapse: separate;
  table-layout: fixed;
}

th {
  padding: ($base-spacing / 2) 0;
  font-weight: bold;
  text-align: left;
}

td {
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
