<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.19.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="LinqKit" version="1.0" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.41.0.0" targetFramework="net45" />
</packages>