<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Monahrq.Sdk.Extensibility.Data.Providers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Monahrq.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="MonahrqConfigurationSectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="MonahrqConfigurationSection" type="Monahrq.Infrastructure.Configuration.MonahrqConfigurationSection, Monahrq.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Monahrq.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <modules>
    <!--<module assemblyFile="Monahrq.Default.dll" moduleType="Monahrq.Default.DefaultModule, Monahrq.Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
         moduleName="Monahrq.Default" startupLoaded="true"/>-->
  </modules>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <Monahrq.Sdk.Extensibility.Data.Providers.Settings>
      <setting name="BatchSize" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ShortTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="LongTimeout" serializeAs="String">
        <value>00:20:00</value>
      </setting>
		<setting name="DebugSql" serializeAs="String">
			<value>true</value>
		</setting>
    </Monahrq.Sdk.Extensibility.Data.Providers.Settings>
    <Monahrq.Infrastructure.Properties.Settings>
      <setting name="RegisteredUser" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="SessionLogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DBVersion" serializeAs="String">
        <value>5.0</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>true</value>
      </setting>
    </Monahrq.Infrastructure.Properties.Settings>
  </userSettings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="bin;Modules;" />
      </assemblyBinding>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.40110.0" newVersion="3.0.40110.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Interactions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20525.0" newVersion="2.0.20525.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <MonahrqConfigurationSectionGroup xmlns="urn:Monahrq.Infrastructure.Configuration">
    <!--http://www.ahrq.gov/professionals/systems/monahrq/software/xml/update.xml -->
    <MonahrqConfigurationSection updateCheckUrl="http://www.ahrq.gov/professionals/systems/monahrq/demo/version/update.xml" monahrqVersion="7.0.6059" monahrqDemoSiteUrl="http://www.ahrq.gov/professionals/systems/monahrq/demo/MONAHRQ7/index.html#" updateScriptToRunAtStartup="Resources\Database\DbUpgradeScripts\Common\20150101010106_SyncDatabase.sql" isFirstRun="true">
      <themes json-file-extension="json">
        <theme name="Default (Blue)" isDefault="true" brandColor="#3778a8" accentColor="#F68F40" accent2Color="#e3ebe3" backgroundColor="#e0f5ff" bodyTextColor="#3e464c" linkTextColor="#2d69a4" brand2Color="#265273" />
        <theme name="Purple Theme" brandColor="#7D5EAA" accentColor="#EDA61A" accent2Color="#e4e8d0" backgroundColor="#ecf3da" bodyTextColor="#2b320d" linkTextColor="#51582A" brand2Color="#411B49" />
        <theme name="Green Theme" brandColor="#2ABC98" accentColor="#2954A2" accent2Color="#ecebe5" backgroundColor="#f6f3e4" bodyTextColor="#3f3c32" linkTextColor="#247f8b" brand2Color="#278970" />
        <theme name="Pink Theme" brandColor="#DB456A" accentColor="#3EC3CA" accent2Color="#d3eceb" backgroundColor="#e0efed" bodyTextColor="#00231e" linkTextColor="#005550" brand2Color="#841442" />
      </themes>
      <banners>
        <banner name="Healthcare Providers" value="Resources\Banners\Healthcare_Providers.png" />
        <banner name="Nurse helping patient" value="Resources\Banners\Nurse_helping_patient.png" />
        <banner name="Patient with Doctor and family" value="Resources\Banners\Patient_with_Doctor_and_family.png" />
        <banner name="Patient with doctor 1" value="Resources\Banners\Patient_with_doctor1.png" />
        <banner name="Patient with doctor 2" value="Resources\Banners\Patient_with_doctor2.png" />
        <banner name="Custom Image" value="" />
      </banners>
    </MonahrqConfigurationSection>
  </MonahrqConfigurationSectionGroup>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFilePath}\Session.log" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <!-- Composite -->
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%3thread] %-5.5level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <applicationSettings>
    <Monahrq.Infrastructure.Properties.Settings>
      <setting name="PopYears" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>2012</string>
            <string>2013</string>
            <string>2014</string>
            <string>2015</string>
          </ArrayOfString>
        </value>
      </setting>
    </Monahrq.Infrastructure.Properties.Settings>
  </applicationSettings>
</configuration>