// ------------------------------------------------------------------- //
//  Image Replacement - Hide Text
// ------------------------------------------------------------------- //

@mixin hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
