// ------------------------------------------------------------------- //
//  HTML 5 Input Types
//  
//  Generate a variable ($all-text-inputs) with a list of each HTML5 
//  input type with text-based input, excluding textarea.
//  
//  To use these you must use SCSS interpolation on the variable:
//  #{$all-text-inputs}
//  #{$all-text-inputs-hover}
//  #{$all-text-inputs-focus}
//  #{$all-text-inputs-active}
//  
//  Example:
//  #{$all-text-inputs}, textarea {
//    border: 1px solid red;
//  }
// ------------------------------------------------------------------- //

$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',

              // Webkit & Gecko may change the display of these in the future
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

// Bare Inputs
$all-text-inputs: assign-inputs($inputs-list);

// Hover Pseudo-class
$all-text-inputs-hover: assign-inputs($inputs-list, hover);

// Focus Pseudo-class
$all-text-inputs-focus: assign-inputs($inputs-list, focus);

// Active Pseudo-class
$all-text-inputs-active: assign-inputs($inputs-list, active);



// ------------------------------------------------------------------- //
//  HTML 5 Button Types
//  
//  Generate a variable ($all-button-inputs) with a list of each HTML5 
//  input type with button-based input, excluding button.
//  
//  To use these you must use SCSS interpolation on the variable:
//  #{$all-button-inputs}
//  #{$all-button-inputs-hover}
//  #{$all-button-inputs-focus}
//  #{$all-button-inputs-active}
//  
//  Example:
//  #{$all-button-inputs}, button {
//    border: 1px solid red;
//  }
// ------------------------------------------------------------------- //

$inputs-button-list: 'input[type="button"]',
                     'input[type="reset"]',
                     'input[type="submit"]',
                     'button';

// Bare inputs
$all-button-inputs: assign-inputs($inputs-button-list);

// Hover Pseudo-class
$all-button-inputs-hover: assign-inputs($inputs-button-list, hover);

// Focus Pseudo-class
$all-button-inputs-focus: assign-inputs($inputs-button-list, focus);

// Active Pseudo-class
$all-button-inputs-active: assign-inputs($inputs-button-list, active);
