/* PLEASE DO NOT REMOVE NUGGETS FOR THIS FILE. WE NEED FOR ALLOWABLE HOST USER CSS OVERRIDES!!!! */

/* Bootstrap Overrides
---------------------------------------- */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #3e464c; /* Body Text | #3E464C */
}

a,
a:link,
a:visited {
    color: #2d69a4; /* Linked Text | #2d69a4 */
}

.list-group.sidebar .list-group-item.active {
    background: #2d69a4; /* Unknown | #2d69a4 */
    /* NEEDS TEXT COLOR NUGGET */
}

.btn-primary {
    background: #F68F40; /* Primary Buttons | #F8ED98; */
    border-color: #F68F40; /* Primary Buttons | #F8ED98; */
    color: White;
}

/* Body
---------------------------------------- */
body {
    font-family: 'Droid Sans', Arial, sans-serif; /* 'Droid Sans', Arial, sans-serif; */
    color: #3e464c; /* Body Text | #3E464C */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', Arial, sans-serif; /*  'Droid Sans', Arial, sans-serif;*/
}

/* ---------- Nav tabs
---------------------------------------- */
.nav-tabs > li > .nav__link {
  color: #3778a8;
}

.nav-tabs > li > .nav__link.active,
.nav-tabs > li > .nav__link.active:hover,
.nav-tabs > li > .nav__link.active:focus {
  background-color: #3778a8;
  color: White;
}

.nav-tabs-secondary {
  background-color: #3778a8;
}

.nav-tabs-secondary .nav__link {
  color: White;
}


/* ---------- Search Form
---------------------------------------- */
.search-form {
    background: #3778a8; /* Search Area | #A0D2EC */
    color: White;
}

/* ---------- Search Form Navigation
---------------------------------------- */
.search-form-nav li a,
.search-form-nav li a:link,
.search-form-nav li a:visited {
    background: #e3ebe3; /* Nav | #E3EBE3; */
    color: White;
}

.search-form-nav.small li a,
.search-form-nav.small li a:link,
.search-form-nav.small li a:visited {
    background: #e3ebe3; /* Nav | #E3EBE3 */
    color: White;
}

/* ---------- Side Search
---------------------------------------- */
.side-search li.item {
    background: #F68F40; /* Nav | #F8ED98 */
}
.side-search li.item a {
    color: White;
}


/* ---------- Usage data wizard
---------------------------------------- */
.ud-wizard-tabs {
    background: #e0f5ff; /* Background | #E0F5FF */
    border-bottom: 10px solid #3778a8; /* Search Area | #A0D7EC */
    margin-left: 0;
    color: White;
}

    .ud-wizard-tabs div {
        background: #e0f5ff; /* Background | #E0F5FF */
        color: White;
    }

    .ud-wizard-tabs .active {
        background: #3778a8; /* Search Area | #A0D7EC */
        color: White;
    }

.ud-wizard-content > div {
    border-right: 3px solid #e0f5ff; /* Background | #E0F5FF */
}

.ud-wizard-content.first:not(.last) {
    border-bottom: 3px solid #e0f5ff; /* Background | #E0F5FF */
}


/* ---------- Resources
---------------------------------------- */

ul.list-group li a.active:hover,
ul.list-group li a.active:focus {
    background-color: #3778a8; /* Nav | #A0D7EC */
    color: White;
}
