/* 508 
---------------------------------------- */
.sr-hidden, .skip a, button.skip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.skip a:hover, .skip a:focus, .skip a:active,
button.skip:hover, button.skip:focus, button.skip:active {
  position: static !important;
  clip: auto;
  height: 100% !important;
  width: 100px !important;
  overflow: visible;
}

.help-icon {
  position:absolute;
  top:0px;
}

.help-icon .btn {
  padding:0px;
}

[data-mh-help-icon] {
  position:relative;
  padding-right:20px;
}

.btn-column {
  white-space: normal;
  text-decoration: underline;
}

.btn-heading {
  white-space: normal;
  text-decoration: none;
  color:#3E464C;
}

/* Focus Border 
---------------------------------------- */
a:focus, 
input[type=image]:focus, 
button:focus, 
input:focus, 
select:focus{
    outline: 2px solid #c00 !important;
}
