// Variables [Will probably move before launch]
  
  // Colors
  $white: #ffffff;
  $off-white: #fcfcfc;
  $blue-light: #cfecf9;
  $blue-aqua: #47cdbb;
  $blue-dark: #17658f;
  $red: #ed532d;
  $gold: #f6921d;
  $dark-gray: #4c4c4c;

  // Font Families
  $sourceSans: 'Source Sans Pro', 'Helvetica Nuve', Helvetica, Arial, sans-serif;
  $openSans: 'Open Sans', sans-serif;

  // EASE IN OUT
  $ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);