<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
      <add name="MAIN" connectionString="Data Source=(local);Initial Catalog=Monahrq731;Integrated Security=True;Persist Security Info=True;Pooling=True;Max Pool Size=20;Asynchronous Processing=True;Application Name=Monahrq.vshost;ApplicationIntent=ReadOnly"/>
  </connectionStrings>
  <appSettings>
    <add key="reportDir" value="C:\Users\jduffus\Documents\Monahrq\Websites\IPGen-Issue\Data\Region"/>
    <add key="ContentItemRecord" value="1"/>
    <add key="websiteID" value="1"/>
    <add key="Suppression" value="0"/>
    <add key="scale" value="1000"/>
    <add key="RegionSource" value="HSARegionID"/>
    <add key="Timeout" value="50000"/>
    <add key="WebsiteYear" value="2015"/>
    <add key="DatasetYear" value ="2015"/>
    <add key="ReportQuarter" value="1|2|3|4"/>
    <add key="ApplyOptimization" value="0"/>
    <add key="DRG_SQL" value=" 
declare @y AS NVARCHAR(4);
set @y=(SELECT MAX(Year) FROM Base_CostToCharges);

declare @yDRG AS NVARCHAR(4)
set @yDRG=(SELECT MAX(Year) FROM Base_CostToChargeToDRGs)

select count(IP.[Id]) 
	FROM Targets_InpatientTargets AS IP
	LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
		LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
		LEFT JOIN Base_CostToChargeToDRGs as DRGCTC ON DRGCTC.DRGID=IP.DRG
		LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
		LEFT JOIN Base_CostToChargeToDRGs as DRGCTC2 ON DRGCTC2.DRGID=IP.DRG and DRGCTC2.Year=@yDRG
		WHERE IP.DRG IS NOT NULL AND
        IP.[Dataset_Id] =[ContentItemRecord]


SELECT 
	ISNULL(IsNull(IP.CustomRegionID,IP.[RegionSource]), -1) AS RegionID,
		IP.DRG AS DRG,
	
	            CASE WHEN (18 >IP.Age ) THEN 1
                        WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
                        WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
                        WHEN (IP.Age >= 65) THEN 4
                        ELSE 0
                END AS Age,
		ISNULL(Race.Id, 0) AS Race,
		ISNULL(Sex.Id, 0) AS Sex,
		ISNULL(Payer.Id, 0) AS PrimaryPayer
				,(ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) * ISNULL(DRGCTC2.Ratio,1) * IP.TotalCharge) AS TotalCost,
		--,IP.TotalCharge * dbo.fnGetCostToChargeRatio(@y, Hosp.CMSProviderID) * DRGCTC.Ratio AS TotalCost
	  IP.DischargeQuarter AS DischargeQuarter
 FROM Targets_InpatientTargets AS IP
		LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
		LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
		LEFT JOIN Base_CostToChargeToDRGs as DRGCTC ON DRGCTC.DRGID=IP.DRG
		LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
		LEFT JOIN Base_CostToChargeToDRGs as DRGCTC2 ON DRGCTC2.DRGID=IP.DRG and DRGCTC2.Year=@yDRG
	WHERE IP.DRG IS NOT NULL AND
        IP.[Dataset_Id] =[ContentItemRecord]
    " />

    <add key="MDC_SQL" value="
declare @y AS NVARCHAR(4)
set @y=(SELECT MAX(Year) FROM Base_CostToCharges)

select count(IP.[Id]) 
	FROM Targets_InpatientTargets AS IP
  LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
		LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
		LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
		WHERE IP.MDC IS NOT NULL AND
        IP.[Dataset_Id] =[ContentItemRecord]

SELECT  IsNull(IsNull(IP.CustomRegionID,IP.[RegionSource]),-1)  AS RegionID,
		
		CASE WHEN IP.MDC=0 then 99 else IP.MDC  end AS MDC,
	
	            CASE WHEN (18 >IP.Age ) THEN 1
                        WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
                        WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
                        WHEN (IP.Age >= 65) THEN 4
                        ELSE 0
                END AS Age,
		ISNULL(Race.Id, 0) AS Race,
		ISNULL(Sex.Id, 0) AS Sex,
		ISNULL(Payer.Id, 0) AS PrimaryPayer
		
		,CAST(ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) as FLOAT) * IP.TotalCharge AS TotalCost,
		--,IP.TotalCharge * dbo.fnGetCostToChargeRatio(@y, Hosp.CMSProviderID) AS TotalCost   -- TODO: cost to charge conversion
	  IP.DischargeQuarter AS DischargeQuarter
 FROM Targets_InpatientTargets AS IP
		LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
		LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
		LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
    LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
		LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
	WHERE IP.MDC IS NOT NULL AND
        IP.[Dataset_Id] =[ContentItemRecord]
    "/>
    
    <add key="CCS_SQL" value="
declare @y AS NVARCHAR(4)
set @y=(SELECT MAX(Year) FROM Base_CostToCharges)
         
declare @yDXCCs AS NVARCHAR(4)
set @yDXCCs=(SELECT MAX(Year) FROM Base_CostToChargeToDXCCs)

; with ICD9to10DXCCSCrosswalk1 (DXCCSID, ICDID, ICDCodeType) as
(
	  select  DXCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toDXCCSCrosswalks
union all
	  select  DXCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toDXCCSCrosswalks
)    
select count(*) 
	FROM Targets_InpatientTargets AS IP
		LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
	LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
	LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID]  
	LEFT JOIN ICD9to10DXCCSCrosswalk1 AS DXCCS ON IP.PrincipalDiagnosis = DXCCS.ICDID
	LEFT JOIN Base_CostToChargeToDXCCs AS DXCCSCTC ON DXCCS.DXCCSID = DXCCSCTC.DXCCSID and DXCCSCTC.Year=@yDXCCs
	LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
		WHERE DXCCS.DXCCSID IS NOT NULL AND
        IP.[Dataset_Id] =[ContentItemRecord]


; with ICD9to10DXCCSCrosswalk2 (DXCCSID, ICDID, ICDCodeType) as
(
	  select  DXCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toDXCCSCrosswalks
union all
	  select  DXCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toDXCCSCrosswalks
)    
SELECT 
	IsNull(IsNull(IP.CustomRegionID,IP.[RegionSource]),-1)  AS RegionID,
	DXCCS.DXCCSID AS CCS,	
	CASE WHEN (18 >IP.Age ) THEN 1
            WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
            WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
            WHEN (IP.Age >= 65) THEN 4
            ELSE 0
    END AS Age,
	ISNULL(Race.Id, 0) AS Race,
	ISNULL(Sex.Id, 0) AS Sex,
	ISNULL(Payer.Id, 0) AS PrimaryPayer, 
	ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio)  * ISNULL(DXCCSCTC.Ratio,1) * IP.TotalCharge  AS TotalCost,
	IP.DischargeQuarter AS DischargeQuarter
FROM Targets_InpatientTargets AS IP
	LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
	LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
	LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
	LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
  LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
	LEFT JOIN ICD9to10DXCCSCrosswalk2 AS DXCCS ON IP.PrincipalDiagnosis = DXCCS.ICDID
	LEFT JOIN Base_CostToChargeToDXCCs AS DXCCSCTC ON DXCCS.DXCCSID = DXCCSCTC.DXCCSID and DXCCSCTC.Year=@yDXCCs 
	LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
WHERE DXCCS.DXCCSID IS NOT NULL AND
    IP.[Dataset_Id] =[ContentItemRecord]
         "/>
   
    
    <add key="PRCCS_SQL" value="
declare @y AS NVARCHAR(4)
set @y=(SELECT MAX(Year) FROM Base_CostToCharges)

; with ICD9to10PRCCSCrosswalk1 (PRCCSID, ICDID, ICDCodeType) as
(
	  select  PRCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toPRCCSCrosswalks
union all
	  select  PRCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toPRCCSCrosswalks
)    
select count(*) 
	FROM Targets_InpatientTargets AS IP
			LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
	LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
	LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
	LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
	LEFT JOIN ICD9to10PRCCSCrosswalk1 AS PRCCS ON IP.PrincipalProcedure = PRCCS.ICDID
	LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
		WHERE PRCCS.PRCCSID IS NOT NULL AND
        IP.[Dataset_Id]=[ContentItemRecord]

; with ICD9to10PRCCSCrosswalk2 (PRCCSID, ICDID, ICDCodeType) as
(
	  select  PRCCSID, ICD9ID 'ICDID', 9 'ICDCodeType' FROM Base_ICD9toPRCCSCrosswalks
union all
	  select  PRCCSID, ICDID, 10 'ICDCodeType' FROM  Base_ICD10toPRCCSCrosswalks
)  
SELECT 
	IsNull(IsNull(IP.CustomRegionID,IP.[RegionSource]),-1)  AS RegionID,
	PRCCS.PRCCSID AS PRCCS,
	CASE WHEN (18 >IP.Age ) THEN 1
            WHEN (IP.Age >= 18 AND 44 >= IP.Age ) THEN 2
            WHEN (IP.Age >= 45 AND 64 >= IP.Age ) THEN 3
            WHEN (IP.Age >= 65) THEN 4
            ELSE 0
    END AS Age,
	ISNULL(Race.Id, 0) AS Race,
	ISNULL(Sex.Id, 0) AS Sex,
	ISNULL(Payer.Id, 0) AS PrimaryPayer,
	(CAST(ISNULL(ISNUll(wh.CCR,Hosp.CCR),  ctc.Ratio) as FLOAT)  * IP.TotalCharge) AS TotalCost,
	IP.DischargeQuarter AS DischargeQuarter
FROM Targets_InpatientTargets AS IP
	LEFT JOIN Base_Races AS Race ON IP.Race = Race.id
	LEFT JOIN Base_Sexes AS Sex ON IP.Sex = Sex.id
	LEFT JOIN Base_Payers AS Payer ON IP.PrimaryPayer = Payer.id
	LEFT JOIN Hospitals AS HOSP ON IP.LocalHospitalID = HOSP.LocalHospitalId AND HOSP.IsArchived=0 AND HOSP.IsDeleted=0
LEFT JOIN Websites_WebsiteHospitals as WH ON hosp.Id=wh.Hospital_Id and wh.Website_Id=[websiteID] 
	LEFT JOIN ICD9to10PRCCSCrosswalk2 AS PRCCS ON IP.PrincipalProcedure = PRCCS.ICDID
	LEFT JOIN Base_CostToCharges ctc on ctc.ProviderID=Hosp.CmsProviderID and ctc.Year=@y
WHERE PRCCS.PRCCSID IS NOT NULL AND
    IP.[Dataset_Id]=[ContentItemRecord]

         "/>
   
    <add key="HospitalRegion_SQL" value="
SELECT h.id,
ISNULL(ISNULL(CustomRegion_Id,[RegionType]),-1) as region_id,County,Zip
FROM Hospitals h
WHERE  h.IsArchived=0 AND h.IsDeleted=0;
         "/>
    
    <add key="HospitalCategory_SQL" value="
         SELECT  [Hospital_Id]
      ,[Category_Id]
  FROM [Hospitals_HospitalCategories] hc
 left join  Hospitals h  on h.id=hc.Hospital_Id and h.IsArchived=0 AND h.IsDeleted=0;
         "/>
    
    <add key="IPNationalTotals_SQL" value="
  SELECT
       [DRGID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsDRGs]
  where region=0

  SELECT 
       [MDCID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsMDCs]
  where region=0

  SELECT 
       [DXCCSID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsDXCCs]
  where region=0

  SELECT 
       [PRCCSID]
      ,[Discharges]
      ,[MeanCharges]
      ,[MeanCost]
      ,[MeanLOS]
      ,[MedianCharges]
      ,[MedianCost]
      ,[MedianLOS]
  FROM [Base_IPNationalTotalsPRCCs]
  where region=0

         
         "/>
  
    
    <add key="AreaPopulationStrats_sql" value="
 declare @y int
 set @y=[DatasetYear]
 if (select count(*) from [RegionPopulationStrats] where RegionType=[RegionSourceID] and [Year]=@y )=0 begin
 set @y=(select max([Year]) from [RegionPopulationStrats] where RegionType=[RegionSourceID])
 end
 
         
  select   
  '0-' +convert(varchar,[CatID])+'-' +convert(varchar,[CatVal]),
  sum([Population])

  FROM [RegionPopulationStrats] as rp
    where 
  RegionType=[RegionSourceID]
  and [Year]=@y and [Population] > 0
  group by [CatID],[CatVal]
 union
 
 SELECT 
      convert(varchar, RegionID)+'-'
	  +convert(varchar,[CatID])+'-'
	  +convert(varchar,[CatVal])
      ,[Population]
  FROM [RegionPopulationStrats] 
  where 
  RegionType=[RegionSourceID] 
  and [Year]=@y and [Population] > 0
         "/>
  </appSettings>
</configuration>