<div class="modal-header">
  <button data-ng-click="$close()" type="button" class="close"><span aria-hidden="true" role="presentation">×</span><span class="sr-hidden">Close</span></button>
  <h1 id="modal-header-title" class="modal-title">{{content.title}}</h1>
</div>
<div class="modal-body">
  <div data-ng-bind-html="content.body"></div>
  <div data-ng-bind-html="content.bodyMore"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-ng-click="$close()">Close</button>
</div>
